{
  "openapi": "3.0.1",
  "info": {
    "title": "Pix",
    "description": "A API Pix padroniza serviços oferecidos pelo PSP recebedor no contexto do arranjo Pix, como criação de cobrança, verificação de Pix recebidos, devolução e conciliação. Os serviços expostos pelo PSP recebedor permitem ao usuário recebedor estabelecer integração de sua automação com os serviços PIX do PSP.<br><br>Documentação de referência Bacen: [2.8.0](https://github.com/bacen/pix-api/releases/tag/2.8.0)",
    "contact": {
      "name": "Banco do Brasil S.A. - Portal Developers",
      "url": "https://developers.bb.com.br"
    },
    "version": "2.7.1"
  },
  "externalDocs": {
    "description": "APIs no BB - Documentação de apoio",
    "url": "https://apoio.developers.bb.com.br/referency/post/5f4f8342b71fb5001268c9ac"
  },
  "servers": [
    {
      "url": "https://api-pix.hm.bb.com.br/pix/v2",
      "description": "Servidor de testes"
    },
    {
      "url": "https://api-pix.bb.com.br/pix/v2",
      "description": "Servidor de produção"
    }
  ],
  "paths": {
    "/cobv/{txid}": {
      "patch": {
        "tags": [
          "CobV"
        ],
        "summary": "Revisar cobrança com vencimento",
        "description": "Endpoint para revisar uma cobrança com vencimento.",
        "operationId": "9093388",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "description": "txid",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 35
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "calendario": {
                    "type": "object",
                    "description": "Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.",
                    "properties": {
                      "dataDeVencimento": {
                        "type": "string",
                        "description": "Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. É a data de vencimento da cobrança. A cobrança pode ser honrada até esse dia, inclusive, em qualquer horário do dia.",
                        "maxLength": 29,
                        "examples": [
                          "2020-04-01"
                        ]
                      },
                      "validadeAposVencimento": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Trata-se da quantidade de dias corridos após o vencimento em que a cobrança poderá ser paga. Caso vencido este período e a cobrança não tenha sido paga, esta continuará ATIVA.",
                        "pattern": "default: 30"
                      }
                    },
                    "required": [
                      "dataDeVencimento",
                      "validadeAposVencimento"
                    ]
                  },
                  "devedor": {
                    "type": "object",
                    "description": "O objeto devedor organiza as informações sobre o devedor da cobrança.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Email do usuário.",
                        "maxLength": 256
                      },
                      "logradouro": {
                        "type": "string",
                        "description": "Logradouro do usuário.",
                        "pattern": "maxLength: 200",
                        "maxLength": 200
                      },
                      "cidade": {
                        "type": "string",
                        "description": "Cidade do usuário.",
                        "pattern": "maxLength: 200",
                        "maxLength": 200
                      },
                      "uf": {
                        "type": "string",
                        "description": "UF do usuário.",
                        "pattern": "maxLength: 2",
                        "maxLength": 2
                      },
                      "cep": {
                        "type": "string",
                        "description": "CEP do usuário.",
                        "pattern": "maxLength: 8",
                        "maxLength": 8
                      },
                      "cpf": {
                        "type": "string",
                        "description": "CPF do usuário.",
                        "pattern": "[0-9]{11}",
                        "maxLength": 11
                      },
                      "cnpj": {
                        "type": "string",
                        "description": "CNPJ do usuário.",
                        "pattern": "[0-9]{14}",
                        "maxLength": 14
                      },
                      "nome": {
                        "type": "string",
                        "description": "Nome do usuário.",
                        "maxLength": 200
                      }
                    },
                    "required": [
                      "logradouro",
                      "cidade",
                      "uf",
                      "cep"
                    ]
                  },
                  "loc": {
                    "type": "object",
                    "description": "Identificador da localização do payload.",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "id"
                      },
                      "location": {
                        "type": "string",
                        "description": "location",
                        "maxLength": 77
                      },
                      "tipoCob": {
                        "type": "string",
                        "description": "tipoCob",
                        "maxLength": 4
                      },
                      "criacao": {
                        "type": "string",
                        "description": "criacao",
                        "maxLength": 29
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "Status da Cobrança",
                    "pattern": "[ REMOVIDA_PELO_USUARIO_RECEBEDOR ]",
                    "maxLength": 31
                  },
                  "valor": {
                    "type": "object",
                    "description": "Valores monetários.",
                    "properties": {
                      "original": {
                        "type": "string",
                        "description": "Valor original da cobrança.",
                        "maxLength": 13
                      },
                      "multa": {
                        "type": "object",
                        "description": "Multa aplicada à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade da multa, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                            "pattern": "minimum: 1\nmaximum: 2"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Multa do documento em valor absoluto ou percentual, conforme \"valor.multa.modalidade\".",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "juros": {
                        "type": "object",
                        "description": "Juro aplicado à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de juros, conforme tabela de domínios.\nDescrição\tDomínio\nValor (dias corridos)\t1\nPercentual ao dia (dias corridos)\t2\nPercentual ao mês (dias corridos)\t3\nPercentual ao ano (dias corridos)\t4\nValor (dias úteis)\t5\nPercentual ao dia (dias úteis)\t6\nPercentual ao mês (dias úteis)\t7\nPercentual ao ano (dias úteis)\t8",
                            "pattern": "minimum: 1\nmaximum: 8"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Valor",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "abatimento": {
                        "type": "object",
                        "description": "Abatimento aplicado à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de abatimentos, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                            "pattern": "minimum: 1\nmaximum: 2"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "desconto": {
                        "type": "object",
                        "description": "Abatimento aplicado à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de desconto, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo até a[s] data[s] informada[s]\t1\nPercentual até a data informada\t2\nValor por antecipação dia corrido\t3\nValor por antecipação dia útil\t4\nPercentual por antecipação dia corrido\t5\nPercentual por antecipação dia útil\t6",
                            "pattern": "minimum: 1\nmaximum: 6"
                          },
                          "descontoDataFixa": {
                            "type": "array",
                            "description": "Descontos absolutos aplicados à cobrança.",
                            "maxItems": 3,
                            "items": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "string",
                                  "description": "Descontos por pagamento antecipado, com data fixa. Matriz com até três elementos, sendo que cada elemento é composto por um par \"data e valorPerc\", para estabelecer descontos percentuais ou absolutos, até aquela data de pagamento. Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. A data de desconto obrigatoriamente deverá ser menor que a data de vencimento da cobrança.",
                                  "maxLength": 10,
                                  "examples": [
                                    "2020-04-01"
                                  ]
                                },
                                "valorPerc": {
                                  "type": "string",
                                  "description": "valorPerc",
                                  "pattern": "\\d{1,10}\\.\\d{2}",
                                  "maxLength": 13
                                }
                              },
                              "required": [
                                "data",
                                "valorPerc"
                              ]
                            }
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade"
                        ]
                      }
                    }
                  },
                  "chave": {
                    "type": "string",
                    "description": "**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.",
                    "pattern": "maxLength: 77",
                    "maxLength": 77
                  },
                  "solicitacaoPagador": {
                    "type": "string",
                    "description": "O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.",
                    "pattern": "140",
                    "maxLength": 140
                  },
                  "infoAdicionais": {
                    "type": "array",
                    "description": "Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.",
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "properties": {
                        "nome": {
                          "type": "string",
                          "description": "Nome do campo.",
                          "pattern": "maxLength: 50",
                          "maxLength": 50
                        },
                        "valor": {
                          "type": "string",
                          "description": "Dados do campo.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "nome",
                        "valor"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calendario": {
                      "type": "object",
                      "description": "Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.",
                      "properties": {
                        "criacao": {
                          "type": "string",
                          "description": "Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.",
                          "maxLength": 29
                        },
                        "dataDeVencimento": {
                          "type": "string",
                          "description": "Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. É a data de vencimento da cobrança. A cobrança pode ser honrada até esse dia, inclusive, em qualquer horário do dia.",
                          "maxLength": 10,
                          "examples": [
                            "2020-04-01"
                          ]
                        },
                        "validadeAposVencimento": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Trata-se da quantidade de dias corridos após o vencimento em que a cobrança poderá ser paga. Caso vencido este período e a cobrança não tenha sido paga, esta continuará ATIVA.",
                          "pattern": "default: 30"
                        }
                      },
                      "required": [
                        "criacao",
                        "dataDeVencimento",
                        "validadeAposVencimento"
                      ]
                    },
                    "txid": {
                      "type": "string",
                      "description": "Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008",
                      "pattern": "[a-zA-Z0-9]{1,35}",
                      "maxLength": 35
                    },
                    "revisao": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.",
                      "pattern": "readOnly: true"
                    },
                    "devedor": {
                      "type": "object",
                      "description": "O objeto devedor organiza as informações sobre o devedor da cobrança.",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email do usuário.",
                          "maxLength": 256
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "cpf",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "recebedor": {
                      "type": "object",
                      "description": "O objeto recebedor organiza as informações sobre o credor da cobrança.",
                      "properties": {
                        "logradouro": {
                          "type": "string",
                          "description": "maxLength: 200",
                          "pattern": "Logradouro do usuário.",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "CPF do usuário.",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "maxLength": 200
                        },
                        "nomeFantasia": {
                          "type": "string",
                          "description": "Nome fantasia.",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "loc": {
                      "type": "object",
                      "description": "Identificador da localização do payload.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identificador da location a ser informada na criação da cobrança.",
                          "pattern": "readOnly: true"
                        },
                        "location": {
                          "type": "string",
                          "description": "Localização do Payload a ser informada na criação da cobrança.",
                          "pattern": "maxLength: 77",
                          "maxLength": 77,
                          "examples": [
                            "http://pix.example.com/qr/v2/2353c790eefb11eaadc10242ac120002"
                          ]
                        },
                        "tipoCob": {
                          "type": "string",
                          "description": "Tipo da cobrança",
                          "pattern": "[ cob, cobv ]",
                          "maxLength": 4
                        },
                        "criacao": {
                          "type": "string",
                          "description": "Data e hora em que a location foi criada. Respeita RFC 3339.",
                          "pattern": "readOnly: true",
                          "maxLength": 10
                        }
                      },
                      "required": [
                        "id",
                        "location",
                        "tipoCob",
                        "criacao"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da Cobrança",
                      "pattern": "[ ATIVA, CONCLUIDA, REMOVIDA_PELO_USUARIO_RECEBEDOR, REMOVIDA_PELO_PSP ]",
                      "maxLength": 31
                    },
                    "valor": {
                      "type": "object",
                      "description": "Valores monetários.",
                      "properties": {
                        "original": {
                          "type": "string",
                          "description": "Valor original da cobrança.",
                          "pattern": "\\d{1,10}\\.\\d{2}",
                          "maxLength": 13
                        },
                        "multa": {
                          "type": "object",
                          "description": "Multa aplicada à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade da multa, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Multa do documento em valor absoluto ou percentual, conforme \"valor.multa.modalidade\".",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "juros": {
                          "type": "object",
                          "description": "Juro aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de juros, conforme tabela de domínios.\nDescrição\tDomínio\nValor (dias corridos)\t1\nPercentual ao dia (dias corridos)\t2\nPercentual ao mês (dias corridos)\t3\nPercentual ao ano (dias corridos)\t4\nValor (dias úteis)\t5\nPercentual ao dia (dias úteis)\t6\nPercentual ao mês (dias úteis)\t7\nPercentual ao ano (dias úteis)\t8",
                              "pattern": "minimum: 1\nmaximum: 8"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Valor",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade"
                          ]
                        },
                        "abatimento": {
                          "type": "object",
                          "description": "Abatimento aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de abatimentos, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "desconto": {
                          "type": "object",
                          "description": "Descontos aplicados à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de desconto, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo até a[s] data[s] informada[s]\t1\nPercentual até a data informada\t2\nValor por antecipação dia corrido\t3\nValor por antecipação dia útil\t4\nPercentual por antecipação dia corrido\t5\nPercentual por antecipação dia útil\t6",
                              "pattern": "minimum: 1\nmaximum: 6"
                            },
                            "descontoDataFixa": {
                              "type": "array",
                              "description": "Descontos absolutos aplicados à cobrança.",
                              "maxItems": 3,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "string",
                                    "description": "Descontos por pagamento antecipado, com data fixa. Matriz com até três elementos, sendo que cada elemento é composto por um par \"data e valorPerc\", para estabelecer descontos percentuais ou absolutos, até aquela data de pagamento. Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. A data de desconto obrigatoriamente deverá ser menor que a data de vencimento da cobrança.",
                                    "maxLength": 10,
                                    "examples": [
                                      "2020-04-01"
                                    ]
                                  },
                                  "valorPerc": {
                                    "type": "string",
                                    "description": "Desconto em valor absoluto ou percentual por dia, útil ou corrido, conforme valor.desconto.modalidade",
                                    "pattern": "\\d{1,10}\\.\\d{2}",
                                    "maxLength": 13
                                  }
                                },
                                "required": [
                                  "data",
                                  "valorPerc"
                                ]
                              }
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade"
                          ]
                        }
                      },
                      "required": [
                        "original"
                      ]
                    },
                    "chave": {
                      "type": "string",
                      "description": "**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.",
                      "pattern": "maxLength: 77",
                      "maxLength": 77
                    },
                    "solicitacaoPagador": {
                      "type": "string",
                      "description": "O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.",
                      "pattern": "maxLength: 140",
                      "maxLength": 140
                    },
                    "infoAdicionais": {
                      "type": "array",
                      "description": "Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.",
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "string",
                            "description": "Nome do campo.",
                            "pattern": "maxLength: 50",
                            "maxLength": 50
                          },
                          "valor": {
                            "type": "string",
                            "description": "Dados do campo.",
                            "pattern": "maxLength: 200",
                            "maxLength": 200
                          }
                        },
                        "required": [
                          "nome",
                          "valor"
                        ]
                      }
                    }
                  },
                  "required": [
                    "calendario",
                    "txid",
                    "revisao",
                    "devedor",
                    "status",
                    "valor",
                    "chave"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          },
          {
            "testes": [
              "cobv.write"
            ]
          },
          {
            "producao": [
              "cobv.write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "CobV"
        ],
        "summary": "Consultar cobrança com vencimento",
        "description": "Endpoint para consultar uma cobrança com vencimento através de um determinado txid.",
        "operationId": "9093390",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "description": "txid",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 35
            }
          },
          {
            "name": "revisao",
            "in": "query",
            "description": "revisao",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calendario": {
                      "type": "object",
                      "description": "Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.",
                      "properties": {
                        "dataDeVencimento": {
                          "type": "string",
                          "description": "Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. É a data de vencimento da cobrança. A cobrança pode ser honrada até esse dia, inclusive, em qualquer horário do dia.",
                          "maxLength": 10,
                          "examples": [
                            "2020-04-01"
                          ]
                        },
                        "validadeAposVencimento": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Trata-se da quantidade de dias corridos após o vencimento em que a cobrança poderá ser paga. Caso vencido este período e a cobrança não tenha sido paga, esta continuará ATIVA.",
                          "pattern": "default: 30"
                        },
                        "criacao": {
                          "type": "string",
                          "description": "Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.",
                          "maxLength": 29
                        }
                      },
                      "required": [
                        "dataDeVencimento",
                        "validadeAposVencimento",
                        "criacao"
                      ]
                    },
                    "devedor": {
                      "type": "object",
                      "description": "O objeto devedor organiza as informações sobre o devedor da cobrança.",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email do usuário.",
                          "maxLength": 256
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "CPF do usuário.",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "loc": {
                      "type": "object",
                      "description": "Identificador da localização do payload.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identificador da location a ser informada na criação da cobrança.",
                          "pattern": "readOnly: true"
                        },
                        "location": {
                          "type": "string",
                          "description": "Localização do Payload a ser informada na criação da cobrança.",
                          "pattern": "maxLength: 77\nreadOnly: true",
                          "maxLength": 77,
                          "examples": [
                            "http://pix.example.com/qr/v2/2353c790eefb11eaadc10242ac120002"
                          ]
                        },
                        "tipoCob": {
                          "type": "string",
                          "description": "Tipo da cobrança",
                          "pattern": "[ cob, cobv ]",
                          "maxLength": 4
                        },
                        "criacao": {
                          "type": "string",
                          "description": "Data e hora em que a location foi criada. Respeita RFC 3339.",
                          "pattern": "readOnly: true",
                          "maxLength": 29
                        }
                      },
                      "required": [
                        "id",
                        "location",
                        "tipoCob",
                        "criacao"
                      ]
                    },
                    "valor": {
                      "type": "object",
                      "description": "Valores monetários.",
                      "properties": {
                        "original": {
                          "type": "string",
                          "description": "Valor original da cobrança.",
                          "pattern": "\\d{1,10}\\.\\d{2}",
                          "maxLength": 13
                        },
                        "multa": {
                          "type": "object",
                          "description": "Multa aplicada à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade da multa, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Multa do documento em valor absoluto ou percentual, conforme \"valor.multa.modalidade\".",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "juros": {
                          "type": "object",
                          "description": "Juro aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de juros, conforme tabela de domínios.\nDescrição\tDomínio\nValor (dias corridos)\t1\nPercentual ao dia (dias corridos)\t2\nPercentual ao mês (dias corridos)\t3\nPercentual ao ano (dias corridos)\t4\nValor (dias úteis)\t5\nPercentual ao dia (dias úteis)\t6\nPercentual ao mês (dias úteis)\t7\nPercentual ao ano (dias úteis)\t8",
                              "pattern": "minimum: 1\nmaximum: 8"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Valor",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "abatimento": {
                          "type": "object",
                          "description": "Abatimento aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de abatimentos, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "desconto": {
                          "type": "object",
                          "description": "Descontos aplicados à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de desconto, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo até a[s] data[s] informada[s]\t1\nPercentual até a data informada\t2\nValor por antecipação dia corrido\t3\nValor por antecipação dia útil\t4\nPercentual por antecipação dia corrido\t5\nPercentual por antecipação dia útil\t6",
                              "pattern": "minimum: 1\nmaximum: 6"
                            },
                            "descontoDataFixa": {
                              "type": "array",
                              "description": "Descontos absolutos aplicados à cobrança.",
                              "maxItems": 3,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "string",
                                    "description": "Descontos por pagamento antecipado, com data fixa. Matriz com até três elementos, sendo que cada elemento é composto por um par \"data e valorPerc\", para estabelecer descontos percentuais ou absolutos, até aquela data de pagamento. Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. A data de desconto obrigatoriamente deverá ser menor que a data de vencimento da cobrança.",
                                    "maxLength": 10,
                                    "examples": [
                                      "2020-04-01"
                                    ]
                                  },
                                  "valorPerc": {
                                    "type": "string",
                                    "description": "Desconto em valor absoluto ou percentual por dia, útil ou corrido, conforme valor.desconto.modalidade.",
                                    "pattern": "\\d{1,10}\\.\\d{2}",
                                    "maxLength": 13
                                  }
                                },
                                "required": [
                                  "data",
                                  "valorPerc"
                                ]
                              }
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        }
                      },
                      "required": [
                        "original"
                      ]
                    },
                    "chave": {
                      "type": "string",
                      "description": "**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.",
                      "maxLength": 77
                    },
                    "solicitacaoPagador": {
                      "type": "string",
                      "description": "O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.",
                      "maxLength": 140
                    },
                    "infoAdicionais": {
                      "type": "array",
                      "description": "Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.",
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "string",
                            "description": "Nome do campo.",
                            "pattern": "maxLength: 50",
                            "maxLength": 50
                          },
                          "valor": {
                            "type": "string",
                            "description": "Dados do campo.",
                            "pattern": "maxLength: 200",
                            "maxLength": 200
                          }
                        },
                        "required": [
                          "nome",
                          "valor"
                        ]
                      }
                    },
                    "txid": {
                      "type": "string",
                      "description": "Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008",
                      "pattern": "[a-zA-Z0-9]{1,35}",
                      "maxLength": 35
                    },
                    "revisao": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.",
                      "pattern": "readOnly: true"
                    },
                    "recebedor": {
                      "type": "object",
                      "description": "O objeto recebedor organiza as informações sobre o credor da cobrança.",
                      "properties": {
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro do usuário.",
                          "pattern": "maxLength: 200\n",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "CPF do usuário.",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "nomeFantasia": {
                          "type": "string",
                          "description": "Nome fantasia.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "[ ATIVA, CONCLUIDA, REMOVIDA_PELO_USUARIO_RECEBEDOR, REMOVIDA_PELO_PSP ]",
                      "maxLength": 31
                    },
                    "pix": {
                      "type": "array",
                      "description": "Pix recebidos",
                      "maxItems": 500,
                      "items": {
                        "type": "object",
                        "properties": {
                          "endToEndId": {
                            "type": "string",
                            "description": "EndToEndIdentification que transita na PACS002, PACS004 e PACS008",
                            "pattern": "pattern: [a-zA-Z0-9]{32}\nminLength: 32\nmaxLength: 32",
                            "maxLength": 32
                          },
                          "txid": {
                            "type": "string",
                            "description": "Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008",
                            "pattern": "[a-zA-Z0-9]{1,35}",
                            "maxLength": 35
                          },
                          "valor": {
                            "type": "string",
                            "description": "Valor do Pix.",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          },
                          "horario": {
                            "type": "string",
                            "description": "Horário em que o Pix foi processado no PSP.",
                            "maxLength": 29
                          },
                          "infoPagador": {
                            "type": "string",
                            "description": "Informação livre do pagador",
                            "pattern": "maxLength: 140",
                            "maxLength": 140
                          },
                          "devolucoes": {
                            "type": "array",
                            "description": "Devoluções",
                            "maxItems": 500,
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Id gerado pelo cliente para representar unicamente uma devolução.",
                                  "pattern": "[a-zA-Z0-9]{1,35}",
                                  "maxLength": 35
                                },
                                "rtrId": {
                                  "type": "string",
                                  "description": "ReturnIdentification que transita na PACS004.",
                                  "pattern": "[a-zA-Z0-9]{32}\nminLength: 32\nmaxLength: 32",
                                  "maxLength": 32,
                                  "examples": [
                                    "D12345678202009091000abcde123456"
                                  ]
                                },
                                "valor": {
                                  "type": "string",
                                  "description": "Valor a devolver.",
                                  "pattern": "\\d{1,10}\\.\\d{2}",
                                  "maxLength": 13
                                },
                                "horario": {
                                  "type": "object",
                                  "description": "horario",
                                  "properties": {
                                    "solicitacao": {
                                      "type": "string",
                                      "description": "Horário no qual a devolução foi solicitada no PSP.",
                                      "maxLength": 29
                                    },
                                    "liquidacao": {
                                      "type": "string",
                                      "description": "Horário no qual a devolução foi liquidada no PSP.",
                                      "maxLength": 29
                                    }
                                  }
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Status da devolução.",
                                  "maxLength": 16
                                },
                                "motivo": {
                                  "type": "string",
                                  "description": "Descrição do status da devolução.",
                                  "pattern": "maxLength: 140",
                                  "maxLength": 140
                                }
                              },
                              "required": [
                                "id",
                                "rtrId",
                                "valor",
                                "horario",
                                "status",
                                "motivo"
                              ]
                            }
                          }
                        },
                        "required": [
                          "endToEndId",
                          "txid",
                          "valor",
                          "horario"
                        ]
                      }
                    }
                  },
                  "required": [
                    "calendario",
                    "valor",
                    "txid",
                    "revisao",
                    "recebedor",
                    "status"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          },
          {
            "testes": [
              "cobv.read"
            ]
          },
          {
            "producao": [
              "cobv.read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CobV"
        ],
        "summary": "Criar cobrança com vencimento",
        "description": "Endpoint para criar uma cobrança com vencimento.",
        "operationId": "9091559",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "description": "txid",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 35
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "calendario": {
                    "type": "object",
                    "description": "Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.",
                    "properties": {
                      "dataDeVencimento": {
                        "type": "string",
                        "description": "Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. É a data de vencimento da cobrança. A cobrança pode ser honrada até esse dia, inclusive, em qualquer horário do dia.",
                        "maxLength": 10,
                        "examples": [
                          "2020-04-01"
                        ]
                      },
                      "validadeAposVencimento": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Trata-se da quantidade de dias corridos após o vencimento em que a cobrança poderá ser paga. Caso vencido este período e a cobrança não tenha sido paga, esta continuará ATIVA."
                      }
                    },
                    "required": [
                      "dataDeVencimento",
                      "validadeAposVencimento"
                    ]
                  },
                  "devedor": {
                    "type": "object",
                    "description": "O objeto devedor organiza as informações sobre o devedor da cobrança.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Email do usuário.",
                        "maxLength": 256
                      },
                      "logradouro": {
                        "type": "string",
                        "description": "Logradouro do usuário.",
                        "maxLength": 200
                      },
                      "cidade": {
                        "type": "string",
                        "description": "Cidade do usuário.",
                        "maxLength": 200
                      },
                      "uf": {
                        "type": "string",
                        "description": "UF do usuário.",
                        "maxLength": 2
                      },
                      "cep": {
                        "type": "string",
                        "description": "CEP do usuário.",
                        "maxLength": 8
                      },
                      "cpf": {
                        "type": "string",
                        "description": "CPF do usuário.",
                        "pattern": "[0-9]{11}",
                        "maxLength": 11
                      },
                      "cnpj": {
                        "type": "string",
                        "description": "CNPJ do usuário.",
                        "pattern": "[0-9]{14}",
                        "maxLength": 14
                      },
                      "nome": {
                        "type": "string",
                        "description": "Nome do usuário.",
                        "maxLength": 200
                      }
                    },
                    "required": [
                      "logradouro",
                      "cidade",
                      "uf",
                      "cep",
                      "nome"
                    ]
                  },
                  "loc": {
                    "type": "object",
                    "description": "Identificador da localização do payload.",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Identificador da location a ser informada na criação da cobrança."
                      },
                      "location": {
                        "type": "string",
                        "description": "location",
                        "maxLength": 77
                      },
                      "tipoCob": {
                        "type": "string",
                        "description": "tipoCob",
                        "maxLength": 4
                      },
                      "criacao": {
                        "type": "string",
                        "description": "criacao",
                        "maxLength": 29
                      }
                    }
                  },
                  "valor": {
                    "type": "object",
                    "description": "Valores monetários referentes à cobrança.",
                    "properties": {
                      "original": {
                        "type": "string",
                        "description": "Valor original da cobrança.",
                        "pattern": "\\d{1,10}\\.\\d{2}",
                        "maxLength": 13
                      },
                      "multa": {
                        "type": "object",
                        "description": "Multa aplicada à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade da multa, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                            "pattern": "minimum: 1\nmaximum: 2"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Multa do documento em valor absoluto ou percentual, conforme \"valor.multa.modalidade\".",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "juros": {
                        "type": "object",
                        "description": "Juro aplicado à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de juros, conforme tabela de domínios.\nDescrição\tDomínio\nValor (dias corridos)\t1\nPercentual ao dia (dias corridos)\t2\nPercentual ao mês (dias corridos)\t3\nPercentual ao ano (dias corridos)\t4\nValor (dias úteis)\t5\nPercentual ao dia (dias úteis)\t6\nPercentual ao mês (dias úteis)\t7\nPercentual ao ano (dias úteis)\t8",
                            "pattern": "minimum: 1\nmaximum: 8"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Valor",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "abatimento": {
                        "type": "object",
                        "description": "Abatimento aplicado à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de abatimentos, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                            "pattern": "minimum: 1\nmaximum: 2"
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      },
                      "desconto": {
                        "type": "object",
                        "description": "Descontos aplicados à cobrança",
                        "properties": {
                          "modalidade": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Modalidade de desconto, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo até a[s] data[s] informada[s]\t1\nPercentual até a data informada\t2\nValor por antecipação dia corrido\t3\nValor por antecipação dia útil\t4\nPercentual por antecipação dia corrido\t5\nPercentual por antecipação dia útil\t6"
                          },
                          "descontoDataFixa": {
                            "type": "array",
                            "description": "Descontos absolutos aplicados à cobrança.",
                            "maxItems": 3,
                            "items": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "string",
                                  "description": "Descontos por pagamento antecipado, com data fixa. Matriz com até três elementos, sendo que cada elemento é composto por um par \"data e valorPerc\", para estabelecer descontos percentuais ou absolutos, até aquela data de pagamento. Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. A data de desconto obrigatoriamente deverá ser menor que a data de vencimento da cobrança.",
                                  "maxLength": 10,
                                  "examples": [
                                    "2020-04-01"
                                  ]
                                },
                                "valorPerc": {
                                  "type": "string",
                                  "description": "Desconto em valor absoluto ou percentual por dia, útil ou corrido, conforme valor.desconto.modalidade",
                                  "pattern": "\\d{1,10}\\.\\d{2}",
                                  "maxLength": 13
                                }
                              },
                              "required": [
                                "data",
                                "valorPerc"
                              ]
                            }
                          },
                          "valorPerc": {
                            "type": "string",
                            "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                            "pattern": "\\d{1,10}\\.\\d{2}",
                            "maxLength": 13
                          }
                        },
                        "required": [
                          "modalidade",
                          "valorPerc"
                        ]
                      }
                    },
                    "required": [
                      "original"
                    ]
                  },
                  "chave": {
                    "type": "string",
                    "description": "**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.",
                    "maxLength": 77
                  },
                  "solicitacaoPagador": {
                    "type": "string",
                    "description": "O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.",
                    "maxLength": 140
                  },
                  "infoAdicionais": {
                    "type": "array",
                    "description": "Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.",
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "properties": {
                        "nome": {
                          "type": "string",
                          "description": "Nome do campo.",
                          "maxLength": 50
                        },
                        "valor": {
                          "type": "string",
                          "description": "Dados do campo.",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "nome",
                        "valor"
                      ]
                    }
                  }
                },
                "required": [
                  "calendario",
                  "devedor",
                  "valor",
                  "chave"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calendario": {
                      "type": "object",
                      "description": "Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.",
                      "properties": {
                        "criacao": {
                          "type": "string",
                          "description": "Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.",
                          "maxLength": 29
                        },
                        "dataDeVencimento": {
                          "type": "string",
                          "description": "Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. É a data de vencimento da cobrança. A cobrança pode ser honrada até esse dia, inclusive, em qualquer horário do dia.",
                          "maxLength": 10,
                          "examples": [
                            "2020-04-01"
                          ]
                        },
                        "validadeAposVencimento": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Trata-se da quantidade de dias corridos após o vencimento em que a cobrança poderá ser paga. Caso vencido este período e a cobrança não tenha sido paga, esta continuará ATIVA."
                        }
                      },
                      "required": [
                        "criacao",
                        "dataDeVencimento",
                        "validadeAposVencimento"
                      ]
                    },
                    "txid": {
                      "type": "string",
                      "description": "Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008",
                      "pattern": "[a-zA-Z0-9]{1,35}",
                      "maxLength": 35
                    },
                    "revisao": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1."
                    },
                    "devedor": {
                      "type": "object",
                      "description": "O objeto devedor organiza as informações sobre o devedor da cobrança.",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email do usuário.",
                          "maxLength": 256
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "CPF do usuário.",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "recebedor": {
                      "type": "object",
                      "description": "O objeto recebedor organiza as informações sobre o credor da cobrança.",
                      "properties": {
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do usuário.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        },
                        "uf": {
                          "type": "string",
                          "description": "UF do usuário.",
                          "pattern": "maxLength: 2",
                          "maxLength": 2
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP do usuário.",
                          "pattern": "maxLength: 8",
                          "maxLength": 8
                        },
                        "cpf": {
                          "type": "string",
                          "description": "CPF do usuário.",
                          "pattern": "[0-9]{11}",
                          "maxLength": 11
                        },
                        "cnpj": {
                          "type": "string",
                          "description": "CNPJ do usuário.",
                          "pattern": "[0-9]{14}",
                          "maxLength": 14
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome do usuário.",
                          "maxLength": 200
                        },
                        "nomeFantasia": {
                          "type": "string",
                          "description": "Nome fantasia.",
                          "pattern": "maxLength: 200",
                          "maxLength": 200
                        }
                      },
                      "required": [
                        "logradouro",
                        "cidade",
                        "uf",
                        "cep",
                        "nome"
                      ]
                    },
                    "loc": {
                      "type": "object",
                      "description": "Identificador da localização do payload.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identificador da location a ser informada na criação da cobrança.",
                          "pattern": "readOnly: true"
                        },
                        "location": {
                          "type": "string",
                          "description": "Localização do Payload a ser informada na criação da cobrança.",
                          "pattern": "maxLength: 77\nreadOnly: true",
                          "maxLength": 77,
                          "examples": [
                            "http://pix.example.com/qr/v2/2353c790eefb11eaadc10242ac120002"
                          ]
                        },
                        "tipoCob": {
                          "type": "string",
                          "description": "Tipo da cobrança",
                          "pattern": "[ cob, cobv ]",
                          "maxLength": 4
                        },
                        "criacao": {
                          "type": "string",
                          "description": "Data e hora em que a location foi criada. Respeita RFC 3339.",
                          "pattern": "readOnly: true",
                          "maxLength": 29
                        }
                      },
                      "required": [
                        "id",
                        "location",
                        "tipoCob",
                        "criacao"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "Status da Cobrança",
                      "pattern": "[ ATIVA, CONCLUIDA, REMOVIDA_PELO_USUARIO_RECEBEDOR, REMOVIDA_PELO_PSP ]",
                      "maxLength": 31
                    },
                    "valor": {
                      "type": "object",
                      "description": "Valores monetários.",
                      "properties": {
                        "original": {
                          "type": "string",
                          "description": "Valor original da cobrança.",
                          "pattern": "\\d{1,10}\\.\\d{2}",
                          "maxLength": 13
                        },
                        "multa": {
                          "type": "object",
                          "description": "Multa aplicada à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade da multa, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Multa do documento em valor absoluto ou percentual, conforme \"valor.multa.modalidade\".",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "juros": {
                          "type": "object",
                          "description": "Juro aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de juros, conforme tabela de domínios.\nDescrição\tDomínio\nValor (dias corridos)\t1\nPercentual ao dia (dias corridos)\t2\nPercentual ao mês (dias corridos)\t3\nPercentual ao ano (dias corridos)\t4\nValor (dias úteis)\t5\nPercentual ao dia (dias úteis)\t6\nPercentual ao mês (dias úteis)\t7\nPercentual ao ano (dias úteis)\t8",
                              "pattern": "minimum: 1\nmaximum: 8"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Valor",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "abatimento": {
                          "type": "object",
                          "description": "Abatimento aplicado à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de abatimentos, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo\t1\nPercentual\t2",
                              "pattern": "minimum: 1\nmaximum: 2"
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "modalidade",
                            "valorPerc"
                          ]
                        },
                        "desconto": {
                          "type": "object",
                          "description": "Descontos aplicados à cobrança",
                          "properties": {
                            "modalidade": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Modalidade de desconto, conforme tabela de domínios.\nDescrição\tDomínio\nValor Fixo até a[s] data[s] informada[s]\t1\nPercentual até a data informada\t2\nValor por antecipação dia corrido\t3\nValor por antecipação dia útil\t4\nPercentual por antecipação dia corrido\t5\nPercentual por antecipação dia útil\t6",
                              "pattern": "minimum: 1\nmaximum: 6"
                            },
                            "descontoDataFixa": {
                              "type": "array",
                              "description": "Descontos absolutos aplicados à cobrança.",
                              "maxItems": 3,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "string",
                                    "description": "Descontos por pagamento antecipado, com data fixa. Matriz com até três elementos, sendo que cada elemento é composto por um par \"data e valorPerc\", para estabelecer descontos percentuais ou absolutos, até aquela data de pagamento. Trata-se de uma data, no formato yyyy-mm-dd, segundo ISO 8601. A data de desconto obrigatoriamente deverá ser menor que a data de vencimento da cobrança.",
                                    "maxLength": 10,
                                    "examples": [
                                      "2020-04-01"
                                    ]
                                  },
                                  "valorPerc": {
                                    "type": "string",
                                    "description": "Desconto em valor absoluto ou percentual por dia, útil ou corrido, conforme valor.desconto.modalidade",
                                    "pattern": "\\d{1,10}\\.\\d{2}",
                                    "maxLength": 13
                                  }
                                },
                                "required": [
                                  "data",
                                  "valorPerc"
                                ]
                              }
                            },
                            "valorPerc": {
                              "type": "string",
                              "description": "Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.",
                              "pattern": "\\d{1,10}\\.\\d{2}",
                              "maxLength": 13
                            }
                          },
                          "required": [
                            "valorPerc"
                          ]
                        }
                      },
                      "required": [
                        "original"
                      ]
                    },
                    "chave": {
                      "type": "string",
                      "description": "**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.",
                      "maxLength": 77
                    },
                    "solicitacaoPagador": {
                      "type": "string",
                      "description": "O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.",
                      "maxLength": 140
                    },
                    "infoAdicionais": {
                      "type": "array",
                      "description": "Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.",
                      "maxItems": 50,
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "string",
                            "description": "Nome do campo.",
                            "pattern": "maxLength: 50",
                            "maxLength": 50
                          },
                          "valor": {
                            "type": "string",
                            "description": "Dados do campo.",
                            "pattern": "maxLength: 200",
                            "maxLength": 200
                          }
                        },
                        "required": [
                          "nome",
                          "valor"
                        ]
                      }
                    }
                  },
                  "required": [
                    "calendario",
                    "txid",
                    "revisao",
                    "devedor",
                    "recebedor",
                    "status",
                    "valor",
                    "chave"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Erro Negocial",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/erro"
                }
              }
            }
          },
          "500": {
            "description": "Erro Sistema",
            "content": {
              "application/json": {
                "schema": {
[...]
