{
  "openapi": "3.0.3",
  "info": {
    "title": "TCAP - Aquisição",
    "description": "TCAP - Jornada de Aquisição",
    "license": {
      "name": "Bradesco Seguros",
      "url": "https://www.bradescoseguros.com.br/clientes"
    },
    "version": "1.0.11"
  },
  "servers": [
    {
      "url": "https://parceiros.bradescoseguros.com.br/V2/parceiros"
    }
  ],
  "tags": [
    {
      "name": "Aquisição",
      "description": "Endpoints referentes a jornada de Aquisição."
    }
  ],
  "paths": {
    "/tcap-planos/v1/produtos-canal": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Produtos de um canal.",
        "description": "Para a consulta de produtos em determinado canal, é necessário informar apenas a mídia referente no endpoint de produtos-canal, podendo também, serem filtrados pela modalidade",
        "operationId": "produtosCanal",
        "requestBody": {
          "description": "Retorna produtos de um determinado canal.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProdutosCanalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resultado(s) da listagem de produto(s) encontrado(s).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProdutosCanalResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-aquisicao/v1/validar-documento": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Validação de documento.",
        "description": "Valida documentação CPF ou CNPJ do cliente.",
        "operationId": "validarDocumento",
        "requestBody": {
          "description": "Valida documento inserido.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidarDocumentoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resultado(s) de sorteio(s) encontrado(s).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidarDocumentoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-cliente/v1/buscar-dados-cliente": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Busca dados de cliente",
        "description": "Busca dados do cliente especificado.",
        "operationId": "buscarDadosCliente'",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscarDadosClienteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso em pegar os dados do cliente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuscarDadosClienteResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-cliente/v1/consultar-cliente": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Consulta cliente",
        "description": "Consulta cliente com base no documento.",
        "operationId": "consultarCliente",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultarClienteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso em pegar as listas de combinações de  sorteios ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultarClienteResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-cliente/v1/incluir-cliente": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Inclusão de cliente.",
        "description": "Esta funcionalidade tem por objetivo inclusao dos dados cadastrais de cliente através de canal externo (Mar aberto).",
        "operationId": "incluirCliente",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncluirClienteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso em pegar as listas de sorteios ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncluirClienteResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/plano": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Consulta determinado plano de capitalização",
        "description": "Traz informações sobre determinado plano de capitalização",
        "operationId": "consultarPlano",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plano Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/listar-planos-compativeis": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Listar Planos Compatíveis",
        "description": "Este endpoint tem por objetivo, listar os planos de capitalização compatíveis com o perfil do cliente para serem comercializados pelo canal.",
        "operationId": "listarPlanosCompativeis",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListarPlanosCompativeisRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plano Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarPlanosCompativeisResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-aquisicao/v1/informacao-plano-aquisicao": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações do plano de aquisição",
        "description": "Esta funcionalidade tem por objetivo, disponibilizar as informações de processo Susep e sorteio, quando um produto/plano for escolhido.",
        "operationId": "consultarInformacaoPlanoAquisicao",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformacaoPlanoAquisicaoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dados informações consulta informação plano de aquisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformacaoPlanoAquisicaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/probabilidade-tipo-sorteio-plano": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações de probabilidade de sorteios planos.",
        "description": "Obtém informações de probabilidade de sorteios planos.",
        "operationId": "consultarProbabilidadeTipoSorteioPlano",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProbabilidadeTipoSorteioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Probabilidade dos tipos de sorteio do plano.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProbabilidadeTipoSorteioResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/quantidade-sorteios": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações de quantidade de sorteios de um plano.",
        "description": "Esta funcionalidade tem por objetivo obter as quantidades de sorteios correspondentes a um plano de capitalização, para compor informações dos prêmios do plano e tornar disponível ao canal.",
        "operationId": "quantidadeSorteios",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuantidadeSorteioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Informações da quantidade de sorteios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuantidadeSorteioResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/valores-plano": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações de Valores do Plano.",
        "description": "Este endpoint tem por objetivo, após preencher a quantidade de títulos, o operador deve selecionar (valores múltiplos) \no valor do título ou informar ao cliente sobre o valor do título que ele está adquirindo (no caso de planos com valor fixo)",
        "operationId": "consultarValoresPlano",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValoresPlanoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Consulta de valores planos realizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValoresPlanoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-aquisicao/v1/forma-pagamento-produto-aquisicao": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações de formas de pagamento para os planos de capitalização.",
        "description": "Esta funcionalidade tem como objetivo, disponibilizar as opções de forma de pagamento do produto/plano escolhido.",
        "operationId": "formaPagamentoProdutoAquisicao",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormaPagamentoProdutoAquisicaoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Consulta de formas de pagamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormaPagamentoProdutoAquisicaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/cotas-capitalizacao-produto": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Obtém informações de cotas de capitalização.",
        "description": "Esta funcionalidade tem como objetivo consultar Cotas de Capitalização do produto/plano selecionado na Aquisição.",
        "operationId": "cotasCapitalizacaoProduto",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CotasCapitalizacaoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Consulta das cotas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotasCapitalizacaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/aceitar-recusar-propostas": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Aceita ou recusa proposta de capitalização.",
        "description": "Esta funcionalidade tem por objetivo, permitir ao usuário aceitar ou rejeitar propostas pendentes de Aceite Digital, com base nos dados informados.",
        "operationId": "aceitarRecusarPropostas",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AceitarRecusarPropostaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Aceite/Recuso com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceitarRecusarPropostaResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/efetivar-proposta-pix": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Efetiva a proposta atraves do PIX.",
        "description": "Efetiva proposta atraves do PIX.",
        "operationId": "efetivarPropostaPix",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EfetivarPropostaPIXRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposta efetivada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotasCapitalizacaoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/confirmar-pagamento-pix": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Esta funcionalidade tem por objetivo, obter a informação se um pagamento pix foi realizado através do TXID.",
        "description": "Esta funcionalidade tem por objetivo, obter a informação se um pagamento pix foi realizado através do TXID.",
        "operationId": "confirmarPagamentoPIX",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmarPagamentoPIXRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Confirmação de pagamento por PIX.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmarPagamentoPIXResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/efetivar-proposta-pagamento-especie": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Efetiva a proposta com pagamento em especie",
        "description": "Efetiva a proposta com pagamento em especie.",
        "operationId": "efetivarPropostaPagamentoEspecie",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EfetivarPropostaPagamentoEspecieRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposta com pagamento em especie efetivada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EfetivarPropostaPagamentoEspecieResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/liquidar-pagamento-especie": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Esta funcionalidade tem por objetivo realizar aquisição de títulos de capitalização com forma de pagamento em espécie.",
        "description": "Esta funcionalidade tem por objetivo realizar aquisição de títulos de capitalização com forma de pagamento em espécie.",
        "operationId": "liquidarPagamentoEspecie",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiquidarPagamentoEspecieRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposta com pagamento em especie efetivada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiquidarPagamentoEspecieResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/efetivar-proposta": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Efetiva a proposta selecionada.",
        "description": "Esta funcionalidade tem por objetivo, efetivar uma proposta de aquisição de um ou mais títulos de capitalização, após a validação das regras de negócio correspondentes.",
        "operationId": "efetivarProposta",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropostaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposta efetivada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropostaResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-proposta/v1/verificar-titulos-implantados": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Efetiva a proposta selecionada.",
        "description": "Esta funcionalidade tem por objetivo, efetivar uma proposta de aquisição de um ou mais títulos de capitalização, após a validação das regras de negócio correspondentes.",
        "operationId": "titulosImplantados",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropostaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposta efetivada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropostaResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    },
    "/tcap-planos/v1/produtos-por-segmento": {
      "post": {
        "tags": [
          "Aquisição"
        ],
        "summary": "Produtos por segmento.",
        "description": "Esta funcionalidade tem por objetivo retornar os produtos cadastrados por segmento.",
        "operationId": "produtosPorSegmento",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProdutosPorSegmentoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Produtos cadastrados pelo segmento informado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProdutosPorSegmentoResponse"
                }
              }
            }
          },
          "400": {
            "description": "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Ocorreu um erro no gateway da API ou no microsserviço"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProdutosPorSegmentoRequest": {
        "type": "object",
        "properties": {
            "agencia": {
                "type": "string",
                "description": "Código da agência \n Inteiro(5)"
            },
            "conta": {
                "type": "string",
                "description": "Número da Conta \n Inteiro(5)"
            },
            "cpfCnpj": {
                "type": "string",
                "description": "CPF \n Inteiro(11)"
            },
            "indicador": {
                "type": "string",
                "description": "Indicador. \n String(1)"
            },
            "midia": {
                "type": "string",
                "description": "Canal de Contratação \n Inteiro(3)"
            },
            "primeiroNumPlano": {
                "type": "integer",
                "format": "int64",
                "description": "Primeiro numero do Plano. \n Numerico(4)"
            },
            "ultimoNumPlano": {
                "type": "integer",
                "format": "int64",
                "description": "Ultimo numero do Plano. \n Numerico(4)"
            }
        },
        "title": "ProdutosPorSegmentoRequest"
      },
    "ProdutosPorSegmentoResponse": {
        "type": "object",
        "properties": {
            "indicadorPaginacao": {
                "type": "string",
                "description": "Indicador. \n String(1)"
            },
            "priNumPlano": {
                "type": "integer",
                "format": "int64",
                "description": "Primeiro numero do Plano. \n Numerico(4)"
            },
            "qtdSegmentos": {
                "type": "integer",
                "format": "int32",
                "description": "Quantidade de segmentos \n Numerico()"
            },
            "request": {
                "$ref": "#/components/schemas/ProdutosPorSegmentoRequest"
            },
            "segmentoPlanos": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/SegmentoPlanos"
                }
            },
            "ultNumPlano": {
                "type": "integer",
                "format": "int64",
                "description": "Ultimo numero do Plano. \n Numerico(4)"
            }
        },
        "title": "ProdutosPorSegmentoResponse"
      },
    "SegmentoPlanos": {
      "type": "object",
      "properties": {
          "codSegmento": {
              "type": "integer",
              "format": "int32",
              "description": "Codigo de segmento. \n Numerico(3)"
          },
          "planos": {
              "type": "array",
              "items": {
                  "$ref": "#/components/schemas/Planos"
              }
          },
          "qtdPlanos": {
              "type": "integer",
              "format": "int32",
              "description": "Quantidade de planos. \n Numerico(2)"
          }
      },
      "title": "SegmentoPlanos"
      },
  "Planos": {
    "type": "object",
    "properties": {
        "numPlano": {
            "type": "integer",
            "format": "int64",
            "description": "Número do plano \n Inteiro(4)"
        }
    },
    "title": "Planos"
      },
      "PropostaResponse": {
        "type": "object",
        "properties": {
          "agencia": {
            "type": "string",
            "description": "Código da agencia de débito das parcelas do título de capitalização. \n  String(5)\n"
          },
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "conta": {
            "type": "string",
            "description": "Conta corrente de débito das parcelas do título de capitalização. \n  String(7)\n"
          },
          "cpf": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "dataDebito": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "dataNasc": {
            "type": "string",
            "description": "Data de nascimento do subscritor do título de capitalização. \n  String(10)\n"
          },
          "diaParcela": {
            "type": "string",
            "description": "Dia base de débito das parcelas dos títulos de capitalização. \n  String(2)\n"
          },
          "digito": {
            "type": "string",
            "description": "Digito da proposta de aquisição do título de capitalização. \n  String(1)\n"
          },
          "gerarBoleto": {
            "type": "string",
            "description": "Indicador de geração de necessidade de boleto para efetivar a aquisição. \n  String(1)\n"
          },
          "gerarCertificado": {
            "type": "string",
            "description": "Indicador de geração de certificado dos títulos de capitalização. \n  String(1)\n"
          },
          "inclusaoProposta": {
            "type": "string",
            "description": "Timestamp da inclusção da proposta de título de capitalização. \n  String(26)\n"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "numAtendimento": {
            "type": "string",
            "description": "\"Numero de atendimento\"\n  Numerico(18)\n"
          },
          "numEletronico": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numPlano": {
            "type": "string",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "numPostal": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          },
          "numProposta": {
            "type": "string",
            "description": "\"Numero da Proposta de aquisição do título de capitalização.\n  Numerico(10)\"\n"
          },
          "qtdTitular": {
            "type": "string",
            "description": "${docswagger.efetivarProposta.qtdTitular}"
          },
          "qtdTitulo": {
            "type": "string",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "razaoSoc": {
            "type": "string",
            "description": "Nome do subscritor do título de capitalização. \n  String(70)\n"
          },
          "titulares": {
            "type": "array",
            "description": "Titulares vinculados à proposta",
            "items": {
              "$ref": "#/components/schemas/TitularResponse0"
            }
          },
          "totParcela": {
            "type": "string",
            "description": "Valor total pago para aquisição dos títulos de capitalização da proposta. \n  String(13.2)\n"
          },
          "tpConta": {
            "type": "string",
            "description": "Tipo da conta de débito das parcelas do título de capitalização. \n  String(1)\n"
          },
          "vlrParcela": {
            "type": "string",
            "description": "Valor da Parcela de cada Título adquirido na proposta.\n  String(13.2)\n"
          }
        },
        "title": "PropostaResponse"
      },
      "TitularResponse0": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "dataNasc": {
            "type": "string",
            "description": "Data de nascimento do subscritor do título de capitalização. \n  String(10)\n"
          },
          "percResgate": {
            "type": "string",
            "description": "${docswagger.common.percResgatePartc}"
          },
          "percSorteio": {
            "type": "string",
            "description": "${docswagger.common.percSorteioPartc}"
          },
          "razaoSoc": {
            "type": "string",
            "description": "Nome do subscritor do título de capitalização. \n  String(70)\n"
          }
        },
        "title": "TitularResponse0"
      },
      "DadosTitularRequest": {
        "type": "object",
        "properties": {
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpf": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "indPeq": {
            "type": "string",
            "description": "${docswagger.dadosTitular.indPeq}"
          },
          "numContratoNegocio": {
            "type": "string",
            "description": "Número do contrato de negócio da conta corrente do cliente.\n  String(10)\n"
          },
          "numSequencial": {
            "type": "string",
            "description": "Número sequencial que referencia um determinado endereço de e-mail.\n  String(5)\n"
          },
          "numSequencialPostal": {
            "type": "string",
            "description": "Número sequencial que referencia um determinado endereço postal.\n  String(5)\n"
          },
          "percResgate": {
            "type": "string",
            "description": "Percentual de resgate.\n  String(3)\n"
          },
          "percSorteio": {
            "type": "string",
            "description": "Percentual do Sorteio.\n  String(3)\n"
          },
          "pessoaJuridica": {
            "type": "string",
            "description": "Pessoa juridica do contrato de conta corrente do cliente.\n  String(10)\n"
          },
          "titularCorrentista": {
            "type": "string",
            "description": "Indicador de Titular Correntistas.\n  (S ou N)\n  String(1)\n"
          },
          "tpContratoNegocio": {
            "type": "string",
            "description": "Tipo de contrato de negócio da conta corrente do cliente.\n  String(3)\n"
          }
        },
        "title": "DadosTitularRequest"
      },
      "SubscritorRequest": {
        "type": "object",
        "properties": {
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpf": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "numContrato": {
            "type": "string",
            "description": "Numero do contrato de negócio da conta corrente do cliente.\n  String(10)\n"
          },
          "numEletronico": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numPostal": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          },
          "pessoaJur": {
            "type": "string",
            "description": "Pessoa juridica do contrato de conta corrente do cliente.\n  String(10)\n"
          },
          "tpContrato": {
            "type": "string",
            "description": "Tipo de contrato de negócio da conta corrente do cliente.\n  String(3)\n"
          }
        },
        "title": "SubscritorRequest"
      },
      "ProcuradorRequest": {
        "type": "object",
        "properties": {
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpf": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "indicProcurador": {
            "type": "string",
            "description": "Indicador de existencia de procurador. \n  (S ou N)\n  String(1)\n"
          },
          "numEletronico": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numPostal": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          }
        },
        "title": "ProcuradorRequest"
      },
      "PropostaRequest": {
        "type": "object",
        "properties": {
          "dadosTitular": {
            "type": "array",
            "description": "Dados do Titular",
            "items": {
              "$ref": "#/components/schemas/DadosTitularRequest"
            }
          },
          "dataDebito": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "diaDebito": {
            "type": "string",
            "description": "Dia de Debito das demais parcelas dos títulos adquiridos.\n  String(2)\n"
          },
          "envioCorrespondencia": {
            "type": "string",
            "description": "Forma de envio de correspondências dos títulos de capitalização. \n  01 - EMAIL\n  02 - Correio\n  String(2)\n"
          },
          "formaAceite": {
            "type": "string",
            "description": "Forma de aceite. \n  'D' - Digital.\n  'N' - Normal/Convencional.\n  String(1)\n"
          },
          "formaPgto": {
            "type": "string",
            "description": "Forma de pagamento das parcelas do título de capitalização. \n  03 - Boleto de cobrança\n  31 - Débito em conta com consulta\n  37 - Benefício INSS\n  String(2)\n"
          },
          "indicTitularDiferente": {
            "type": "string",
            "description": "Indicador de Titular Diferente do Subscritor. \n  'N' - Não\n  'S' - 'Sim\n  String(1)\n"
          },
          "mesSorteio": {
            "type": "string",
            "description": "Mes escolhido para o sorteio especial. String(2)\n"
          },
          "midia": {
            "type": "string",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "numAtendimento": {
            "type": "string",
            "description": "\"Numero de atendimento\"\n  Numerico(18)\n"
          },
          "numPlano": {
            "type": "string",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "procurador": {
            "description": "Dados do Procurador",
            "$ref": "#/components/schemas/ProcuradorRequest"
          },
          "qtdTitulo": {
            "type": "string",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "qtdTotTitular": {
            "type": "string",
            "description": "Quantidade total titular\n  String(3)\n"
          },
          "subscritor": {
            "description": "Dados do Subscritor",
            "$ref": "#/components/schemas/SubscritorRequest"
          },
          "tpAcao": {
            "type": "string",
            "description": "\"Identificador do tipo de ação requerida pelo canal. \n  'V' - Validação\"\n  'E' - Efetivação.\"\n  String(1).\n"
          },
          "vlrParcela": {
            "type": "string",
            "description": "Valor da Parcela de cada Título adquirido na proposta.\n  String(13.2)\n"
          }
        },
        "title": "PropostaRequest"
      },
      "LiquidarPagamentoEspecieRequest": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "numProposta": {
            "type": "integer",
            "format": "int64",
            "description": "\"Numero da Proposta de aquisição do título de capitalização.\n  Numerico(10)\"\n"
          }
        },
        "title": "LiquidarPagamentoEspecieRequest"
      },
      "LiquidarPagamentoEspecieResponse": {
        "type": "object",
        "properties": {
          "cnpj": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "codProcesso": {
            "type": "string",
            "description": "Codigo do processo SUSEP. \n  String(20)\n"
          },
          "descNumPlano": {
            "type": "string",
            "description": "Descrição do plano. \n  String(40)\n"
          },
          "formaPagamento": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.common.formaPgto}"
          },
          "listaSorteio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListaSorteio"
            }
          },
          "listaTitulos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListaTitulos"
            }
          },
          "nomeRazaoSocial": {
            "type": "string",
            "description": "Razao social da capitalizacao. \n  String(30)\n"
          },
          "nomeSubscritor": {
            "type": "string",
            "description": "Nome do subscritor.\n  String(70)\n"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "numProposta": {
            "type": "integer",
            "format": "int32",
            "description": "\"Numero da Proposta de aquisição do título de capitalização.\n  Numerico(10)\"\n"
          },
          "qtdNumSorte": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de numeros da sorte. \n  Numerico(5)\n"
          },
          "qtdTitulos": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "request": {
            "$ref": "#/components/schemas/LiquidarPagamentoEspecieRequest"
          },
          "totRegistros": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de registro/proposta listada. \n  Numerico(3)\n"
          },
          "totTitulos": {
            "type": "integer",
            "format": "int32",
            "description": "Total de registros de titulo."
          },
          "vlrTotProposta": {
            "type": "number",
            "description": "Valor da proposta. \n  Numerico(15)\n"
          }
        },
        "title": "LiquidarPagamentoEspecieResponse"
      },
      "ListaSorteio": {
        "type": "object",
        "properties": {
          "descPeriodoSorteio": {
            "type": "string",
            "description": "Descrição da periodicidade do sorteio. String(80)"
          },
          "qtdNumSorteios": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de numeros de sorteio. Numerico(5)"
          },
          "simbMoeda": {
            "type": "string",
            "description": "Simbolo da moeda. String(3)"
          },
          "vlrPremio": {
            "type": "number",
            "description": "Valor do premio. Numerico(16)"
          },
          "vlrPremioExtenso": {
            "type": "string",
            "description": "Valor do premio por extenso. String(100)"
          }
        },
        "title": "ListaSorteio"
      },
      "ListaTitulos": {
        "type": "object",
        "properties": {
          "numSerie": {
            "type": "integer",
            "format": "int32",
            "description": "Numero da serie. \n  Numerico(4)\n"
          },
          "numSorte1": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.common.numDaSorte}"
          },
          "numSorte2": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.common.numDaSorte}"
          },
          "numTitulo": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.common.numTitulo}"
          }
        },
        "title": "ListaTitulos"
      },
      "EfetivarPropostaPagamentoEspecieRequest": {
        "type": "object",
        "properties": {
          "dadosAtendimento": {
            "$ref": "#/components/schemas/DadosAtendimento"
          },
          "dadosSubscritor": {
            "$ref": "#/components/schemas/DadosSubscritor"
          },
          "listaDadosTitular": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListaDadosTitular"
            }
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "qtotTtlar": {
            "type": "integer",
            "format": "int32"
          }
        },
        "title": "EfetivarpropostapagamentoespecieRequest"
      },
      "EfetivarPropostaPagamentoEspecieResponse": {
        "type": "object",
        "properties": {
          "linhaDig": {
            "type": "string",
            "description": "Digito da proposta.\n  Numerico\n"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "nPlanoCaptz": {
            "type": "integer",
            "format": "int32",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "nPpstaAquisTitlo": {
            "type": "integer",
            "format": "int32",
            "description": "\"Numero da Proposta de aquisição do título de capitalização.\n  Numerico(10)\"\n"
          },
          "request": {
            "$ref": "#/components/schemas/EfetivarPropostaPagamentoEspecieRequest"
          }
        },
        "title": "EfetivarpropostapagamentoespecieResponse"
      },
      "ListaDadosTitular": {
        "type": "object",
        "properties": {
          "cdClubTtlar": {
            "type": "integer",
            "format": "int32",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpfCnpjTtlar": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          }
        },
        "title": "ListaDadosTitular"
      },
      "DadosSubscritor": {
        "type": "object",
        "properties": {
          "cClubSbscr": {
            "type": "integer",
            "format": "int64",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpfCnpjSbscr": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          }
        },
        "title": "DadosSubscritor"
      },
      "DadosAtendimento": {
        "type": "object",
        "properties": {
          "cFormaPgto": {
            "type": "integer",
            "format": "int32",
            "description": "Forma de pagamento\n"
          },
          "ddeb": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "ddiaDeb": {
            "type": "integer",
            "format": "int32",
            "description": "Dia de Debito das demais parcelas dos títulos adquiridos.\n  String(2)\n"
          },
          "nPlanoCaptz": {
            "type": "integer",
            "format": "int32"
          },
          "ntpoPgto": {
            "type": "integer",
            "format": "int32",
            "description": "Numero do tipo do pagamento.\n Numerico\n"
          },
          "qTitlo": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "vPcelaTitlo": {
            "type": "string",
            "description": "Valor da Parcela de cada Título adquirido na proposta.\n  String(13.2)\n"
          },
          "vppsta": {
            "type": "string",
            "description": "Valor da proposta"
          }
        },
        "title": "DadosAtendimento"
      },
      "ConfirmarPagamentoPIXResponse": {
        "type": "object",
        "properties": {
          "codigoPix": {
            "type": "string",
            "description": "Codigo string do pix\n  String\n"
          },
          "request": {
            "$ref": "#/components/schemas/ConfirmarPagamentoPIXRequest"
          },
          "situacao": {
            "type": "integer",
            "format": "int32",
            "description": "Situacao da confirmacao.\n  Numerico\n"
          }
        },
        "title": "ConfirmacaoPagamentoPIXResponse"
      },
      "ConfirmarPagamentoPIXRequest": {
        "type": "object",
        "properties": {
          "codigoPix": {
            "type": "string",
            "description": "Codigo string do pix\n  String\n"
          }
        },
        "title": "ConfirmacaoPagamentoPIXRequest"
      },
      "DadosPixSegChamada": {
        "type": "object",
        "properties": {
          "codPagamentoPix": {
            "type": "string"
          },
          "dataPix": {
            "type": "string"
          },
          "expiracaoPix": {
            "type": "integer",
            "format": "int64"
          },
          "idPix": {
            "type": "string"
          },
          "numSequencialEmail": {
            "type": "integer",
            "format": "int32"
          },
          "transacaoPix": {
            "type": "string"
          }
        },
        "title": "DadosPixSegChamada"
      },
      "TitularResponse": {
        "type": "object",
        "properties": {
          "cpfCnpjTitular": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "dataNascTitular": {
            "type": "string",
            "description": "Data de nascimento do subscritor do título de capitalização. \n  String(10)\n"
          },
          "dvCpfCnpjTitular": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "filialCpfCnpjTitular": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "nomeTitular": {
            "type": "string",
            "description": "Nome do titular\n  String(70)\n"
          },
          "percentualValorResgate": {
            "type": "number",
            "description": "Percentual de participação no resgate do subscritor. \n  String(5.2)\n"
          },
          "percentualValorSorteio": {
            "type": "number",
            "description": "Percentual de participação no sorteio do subscritor. \n  String(5.2)\n"
          }
        },
        "title": "TitularResponse"
      },
      "EfetivarPropostaPIXResponse": {
        "type": "object",
        "properties": {
          "agencia": {
            "type": "integer",
            "format": "int32",
            "description": "Código da agencia de débito das parcelas do título de capitalização. \n  String(5)\n"
          },
          "base64": {
            "type": "string",
            "description": "Base 64 do QRCODE\n  String\n"
          },
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "conta": {
            "type": "integer",
            "format": "int32",
            "description": "Conta corrente de débito das parcelas do título de capitalização. \n  String(7)\n"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "dataAtualDebito": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "dataNascSubscritor": {
            "type": "string",
            "description": "Data de nascimento do subscritor do título de capitalização. \n  String(10)\n"
          },
          "diaBase": {
            "type": "integer",
            "format": "int32",
            "description": "Dia base da proposta.\n  String\n"
          },
          "digitoProposta": {
            "type": "integer",
            "format": "int32",
            "description": "Digito da proposta.\n  Numerico\n"
          },
          "gerarCertificado": {
            "type": "string",
            "description": "Indicador de geração de certificado dos títulos de capitalização. \n  String(1)\n"
          },
          "indGerarBoleto": {
            "type": "string",
            "description": "Indicador de geração de necessidade de boleto para efetivar a aquisição. \n  String(1)\n"
          },
          "listaTitular": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TitularResponse"
            }
          },
          "midia": {
            "type": "string",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "nomeSubscritor": {
            "type": "string",
            "description": "Nome do subscritor.\n  String(70)\n"
          },
          "numAtendimento": {
            "type": "integer",
            "format": "int64",
            "description": "\"Numero de atendimento\"\n  Numerico(18)\n"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "numProposta": {
            "type": "string",
            "description": "\"Numero da Proposta de aquisição do título de capitalização.\n  Numerico(10)\"\n"
          },
          "qtdTitulares": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade máxima de titulares no título de capitalização. \n  String(2)\n"
          },
          "qtdTitulos": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "request": {
            "$ref": "#/components/schemas/DadosPixSegChamada"
          },
          "timestampProposta": {
            "type": "string",
            "description": "${docswagger.common.timestampProposta}"
          },
          "tipoConta": {
            "type": "integer",
            "format": "int32",
            "description": "Tipo da conta de débito das parcelas do título de capitalização. \n  String(1)\n"
          },
          "vlrParcelaTitulo": {
            "type": "number",
            "description": "Valor da Parcela de cada Título adquirido na proposta.\n  String(13.2)\n"
          },
          "vlrTotalProposta": {
            "type": "number",
            "description": "Valor total pago para aquisição dos títulos de capitalização da proposta. \n  String(13.2)\n"
          }
        },
        "title": "EfetivarPropostaPIXResponse"
      },
      "DadosProcuradorRequest": {
        "type": "object",
        "properties": {
          "club": {
            "type": "integer",
            "format": "int64",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "indProcurador": {
            "type": "string",
            "description": "Indicador de existencia de procurador. \n  (S ou N)\n  String(1)\n"
          },
          "numSequencialEmail": {
            "type": "integer",
            "format": "int64",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numSequencialPostal": {
            "type": "integer",
            "format": "int64",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          }
        },
        "title": "DadosProcuradorRequest"
      },
      "DadosAtendimentoRequest": {
        "type": "object",
        "properties": {
          "autenticacaoProposta": {
            "type": "string",
            "description": "Autenticacao da proposta. \n  String(250)\n"
          },
          "dataDebito": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "diaDebito": {
            "type": "integer",
            "format": "int32",
            "description": "Dia de Debito das demais parcelas dos títulos adquiridos.\n  String(2)\n"
          },
          "formaAceite": {
            "type": "string",
            "description": "Forma de aceite. \n  String(1)\n"
          },
          "formaEnvioCorrespondencia": {
            "type": "integer",
            "format": "int32",
            "description": "Forma de envio de correspondencias dos titulos de capitalizacao. \n  Numerico(2)\n"
          },
          "formaPagamento": {
            "type": "integer",
            "format": "int32",
            "description": "Forma de pagamento\n"
          },
          "indTitular": {
            "type": "string",
            "description": "Indicador de titular diferente do subscritor. \n  String(1)\n"
          },
          "mesSorteio": {
            "type": "integer",
            "format": "int32",
            "description": "Mes escolhido para o sorteio especial. String(2)\n"
          },
          "numAtendimento": {
            "type": "integer",
            "format": "int64",
            "description": "\"Numero de atendimento\"\n  Numerico(18)\n"
          },
          "numPlano": {
            "type": "integer",
            "format": "int64",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "qtdTitulos": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.common.qtdTitulos}"
          },
          "tipoAcao": {
            "type": "string",
            "description": "Identificador do tipo de ação requerida pelo canal. \n  String(1)\n"
          },
          "vlrParcelaTitulo": {
            "type": "number",
            "description": "Valor da parcela de cada titulo adquirido na proposta. \n  Numerico(15)\n"
          }
        },
        "title": "DadosAtendimentoRequest"
      },
      "EfetivarPropostaPIXRequest": {
        "type": "object",
        "properties": {
          "dadosAtendimento": {
            "description": "Dados subscritor",
            "$ref": "#/components/schemas/DadosAtendimentoRequest"
          },
          "dadosProcurador": {
            "description": "Dados procurador",
            "$ref": "#/components/schemas/DadosProcuradorRequest"
          },
          "dadosSubscritor": {
            "description": "Dados subscritor",
            "$ref": "#/components/schemas/DadosSubscritorRequest"
          },
          "dadosTelefone": {
            "$ref": "#/components/schemas/DadosTelefoneRequest"
          },
          "identQrCode": {
            "type": "string",
            "description": "Identificador do QR Code\n"
          },
          "listaDadosTitular": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DadosTitularRequest0"
            }
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "qtdTitulares": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de titulares em cada plano adquirido com valor maximo de 99. \n  Numerico(2)\n"
          }
        },
        "title": "EfetivarPropostaPIXRequest"
      },
      "DadosTitularRequest0": {
        "type": "object",
        "properties": {
          "club": {
            "type": "integer",
            "format": "int64",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "indTitularCorrentista": {
            "type": "string",
            "description": "Indicador de titular correntista do banco Bradesco. \n  String(1)\n"
          },
          "indTitularPEP": {
            "type": "string",
            "description": "Indicador titular PEP. \n  String(1)\n"
          },
          "numContrato": {
            "type": "integer",
            "format": "int64",
            "description": "Numero do contrato de negócio da conta corrente do cliente.\n  String(10)\n"
          },
          "numSequencialEmail": {
            "type": "integer",
            "format": "int64",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numSequencialPostal": {
            "type": "integer",
            "format": "int64",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          },
          "percentualValorResgate": {
            "type": "number",
            "description": "Percentual de participação no resgate do subscritor. \n  String(5.2)\n"
          },
          "percentualValorSorteio": {
            "type": "number",
            "description": "Percentual de participação no sorteio do subscritor. \n  String(5.2)\n"
          },
          "pessoaJuridica": {
            "type": "integer",
            "format": "int64",
            "description": "Pessoa juridica do contrato de conta corrente do cliente.\n  String(10)\n"
          },
          "tipoContrato": {
            "type": "integer",
            "format": "int64",
            "description": "Tipo de contrato de negócio da conta corrente do cliente.\n  String(3)\n"
          }
        },
        "title": "DadosTitularRequest0"
      },
      "DadosTelefoneRequest": {
        "type": "object",
        "properties": {
          "ddd": {
            "type": "string",
            "description": "DDD do telefone. \n  String(4)\n"
          },
          "ddi": {
            "type": "string",
            "description": "DDI do telefone. \n  String(4)\n"
          },
          "telefone": {
            "type": "string",
            "description": "Numero do telefone. \n  String(11)\n"
          }
        },
        "title": "DadosTelefoneRequest"
      },
      "DadosSubscritorRequest": {
        "type": "object",
        "properties": {
          "club": {
            "type": "string",
            "description": "Código do club do Procurador do subscritor do título de capitalização.\n  String(10)\n"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "Número do CPF/CNPJ.\n  String(11)\n"
          },
          "numContrato": {
            "type": "integer",
            "format": "int64",
            "description": "Numero do contrato de negócio da conta corrente do cliente.\n  String(10)\n"
          },
          "numSequencialEmail": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço de e-mail do cliente no pessoas.\n  String(5)\n"
          },
          "numSequencialPostal": {
            "type": "string",
            "description": "Numero sequencial que referencia um determinado endereço postal do cliente no pessoas.\n  String(5)\n"
          },
          "pessoaJuridica": {
            "type": "integer",
            "format": "int32",
            "description": "Pessoa juridica do contrato de conta corrente do cliente.\n  String(10)\n"
          },
          "tipoContrato": {
            "type": "integer",
            "format": "int32",
            "description": "Tipo de contrato de negocio da conta corrente do cliente. \n  Numerico(3)\n"
          }
        },
        "title": "DadosSubscritorRequest"
      },
      "AceitarRecusarPropostaResponse": {
        "type": "object",
        "properties": {
          "dataAceiteRecusa": {
            "type": "string",
            "description": "Data do aceite ou recusa. \n  String(18)\n"
          },
          "dataAquisicao": {
            "type": "string",
            "description": "Data aquisicao da proposta. \n  String(10)\n"
          },
          "dataDebitoAtual": {
            "type": "string",
            "description": "Data do Debito da primeira parcela dos títulos, efetivando a aquisição.\n  String(10)\n"
          },
          "dataPrimeiraParcela": {
            "type": "string",
            "description": "${docswagger.efetivarProposta.dataPrimeiraParcela}"
          },
          "dataProxParcelas": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.efetivarProposta.dataDemaisParcelas}"
          },
          "digitoProposta": {
            "type": "integer",
            "format": "int32",
            "description": "Digito da proposta.\n  Numerico\n"
          },
          "idAceiteRecusa": {
            "type": "string",
            "description": "Identificador do aceite ou recusa. \n  Numerico(1)\n"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "\"Canal de Contratação.\n  Inteiro(3)\"\n"
          },
          "nomeFantasia": {
            "type": "string",
            "description": "Nome fantasia (comercial) do plano de capitalização. \n  String(50)\n"
          },
          "numAquisicao": {
            "type": "integer",
            "format": "int32",
            "description": "Numero de proposta de aquisicao do titulo. \n  String(10)\n"
          },
          "numAtendimentoAquisicao": {
            "type": "string",
            "description": "Numero do atendimento de aquisicao. \n  String(10)\n"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "\"Número do plano.\n  Inteiro(4)\"\n"
          },
          "numProtocolo": {
            "type": "integer",
            "format": "int32",
            "description": "Numero de protocolo de aceite. \n  Numerico(15)\n"
          },
          "peridiocidade": {
            "type": "string",
            "description": "Descrição da periodicidade do pagamento. \n  String(30)\n"
          },
          "prazoPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Prazo do plano. \n  Numerico(3)\n"
          },
          "probabilidadeSorteioAnual": {
            "type": "number",
            "format": "double",
            "description": "Probabilidade de sorteio anual. \n  Numerico(2)\n"
          },
          "probabilidadeSorteioMensal": {
            "type": "number",
            "format": "double",
            "description": "Probabilidade de sorteio mensal. \n  Numerico(2)\n"
          },
          "probabilidadeSorteioSemanal": {
            "type": "number",
            "format": "double",
            "description": "Probabilidade de sorteio semanal. \n  Numerico(2)\n"
          },
          "qtdParcelas": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade total de parcelas do titulo. \n  Numerico(3)\n"
          },
          "qtdTitulo": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de Titulos que serão adquiridos na proposta.\n  String(5)\n"
          },
          "qtdTitulosSerie": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de titulos da serie. \n  String(7)\n"
          },
          "tpPgto": {
            "type": "integer",
            "format": "int32",
            "description": "Periodicidade de pagamento. \n  0 - TODOS; \n  1 - PM(Pagamento Mensal); \n  2 - PU(Pagamento Único); \n  3 - PP(Pagamento Periodico);\n  4 - PM E PP; \n  Numerico(1)\n"
          },
          "vlrParcela": {
            "type": "number",
            "format": "double",
            "description": "Valor da Parcela de cada Título adquirido na proposta.\n  String(13.2)\n"
          },
          "vlrProposta": {
            "type": "number",
            "format": "double",
            "description": "Valor da proposta. \n  Numerico(15)\n"
          },
          "vlrTotal": {
            "type": "number",
            "format": "double",
            "description": "Valor total do titulo. \n  Numerico(15.2)\n"
          }
        },
        "title": "AceitarRecusarResponse"
      },
      "AceitarRecusarPropostaRequest": {
        "type": "object",
        "properties": {
          "codAceite": {
            "type": "string",
            "description": "Forma de aceite. \\n  D - Digital. \\n  String(1)\\n"
          },
          "codSubscritor": {
            "type": "string",
            "description": "Codigo do subscritor. \\n  Numerico(10)\\n"
          },
          "indAceite": {
            "type": "string",
            "description": "Indicativo de aceite. \\n  String(1)\\n"
          },
          "midia": {
            "type": "string",
            "description": "\\\"Canal de Contratação.\\n"
          },
          "numPlano": {
            "type": "string",
            "description": "\\\"Número do plano.\\n"
          },
          "numPropsota": {
            "type": "string",
            "description": "\\\"Numero da Proposta de aquisição do título de capitalização.\\n"
          },
          "solicitacaoUsuario": {
            "type": "string",
            "description": "Usuário responsável pela solicitação. \\n"
          }
        }
      },
      "SaidaResponse": {
        "type": "object",
        "properties": {
          "numParcelaFim": {
            "type": "integer",
            "format": "int32",
            "description": "Número da parcela fim \n Numérico(3)"
          },
          "numParcelaInic": {
            "type": "integer",
            "format": "int32",
            "description": "Número da parcela inicio \n Numérico(3)"
          },
          "quotaCapitalizacao": {
            "type": "number",
            "description": "Cotas de capitalização \n Numérico(3)"
          },
          "quotaSorteio": {
            "type": "number",
            "description": "Cotas de sorteio \n Numérico(3)"
          }
        },
        "title": "SaidaResponse"
      },
      "CotasCapitalizacaoResponse": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "integer",
            "format": "int32",
            "description": "Código da modalidade \n Inteiro(3)"
          },
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "qtdRegistros": {
            "type": "integer",
            "format": "int32",
            "description": "Qtde registros \n Inteiro(3)"
          },
          "request": {
            "$ref": "#/components/schemas/CotasCapitalizacaoRequest"
          },
          "saida": {
            "type": "array",
            "description": "Saida",
            "items": {
              "$ref": "#/components/schemas/SaidaResponse"
            }
          }
        },
        "title": "CotasCapitalizacaoResponse"
      },
      "CotasCapitalizacaoRequest": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "string",
            "description": "Código da modalidade \n Inteiro(3)"
          },
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "string",
            "description": "Número do plano \n Inteiro(4)"
          },
          "vlrParcelaTitulo": {
            "type": "string",
            "description": "Valor da parcela do título \n Numérico(13)"
          }
        },
        "title": "CotasCapitalizacaoRequest"
      },
      "FormaPagamentoResponse": {
        "type": "object",
        "properties": {
          "descFormaPgto": {
            "type": "string"
          },
          "formaPgto": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FormaPagamentoProdutoAquisicaoResponse": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "integer",
            "format": "int32"
          },
          "dados": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormaPagamentoResponse"
            }
          },
          "midia": {
            "type": "integer",
            "format": "int32"
          },
          "qtdRegistros": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FormaPagamentoProdutoAquisicaoRequest": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "string",
            "description": "Código da modalidade \n inteiro(1)"
          },
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "string",
            "description": "Número do plano \n Inteiro(4)"
          }
        }
      },
      "Parcelas": {
        "type": "object",
        "properties": {
          "vlrParcela": {
            "type": "number",
            "description": "Valor da parcela de cada título adquirido na proposta \n Numérico(13,2)"
          }
        },
        "title": "Parcelas"
      },
      "ValoresPlanoResponse": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Número do plano \n Inteiro(4)"
          },
          "parcelas": {
            "type": "array",
            "description": "Lista de parcelas",
            "items": {
              "$ref": "#/components/schemas/Parcelas"
            }
          },
          "vlrMax": {
            "type": "number",
            "description": "Valor máximo de parcela do plano de capitalização \n Numérico(13) "
          },
          "vlrMin": {
            "type": "number",
            "description": "Valor mínimo de parcela do plano de capitalização \n Numérico(13)"
          },
          "vlrMult": {
            "type": "number",
            "description": "Valor múltiplo multiplicador sobre o valor de parcela do plano de capitalização. \n Numérico(5)"
          }
        },
        "title": "ValoresPlanoResponse"
      },
      "ValoresPlanoRequest": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "string",
            "description": "Número do plano \n Inteiro(4)"
          },
          "vlrMax": {
            "type": "string",
            "description": "Valor máximo de parcela do plano \n Numérico(13)"
          },
          "vlrMin": {
            "type": "string",
            "description": "Valor mínimo de parcela do plano \n Numérico(13)"
          },
          "vlrMult": {
            "type": "string",
            "description": "Valor múltiplo multiplicador sobre o valor de parcela do plano \n Numérico(5)"
          }
        },
        "title": "ValoresPlanoRequest"
      },
      "Sorteios": {
        "type": "object",
        "properties": {
          "quantidadeSorteio": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de Sorteios Realizados \n Numérico(5)"
          },
          "tipoSorteio": {
            "type": "string",
            "description": "Tipo do Sorteio \n String(30)"
          }
        },
        "title": "Sorteios"
      },
      "QuantidadeSorteioRequest": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "modalidade": {
            "type": "integer",
            "format": "int32",
            "description": "Código da modalidade \n Inteiro(3)"
          },
          "numPlano": {
            "type": "string",
            "description": "Número do plano \n Inteiro(4)"
          }
        },
        "title": "QuantidadeSorteioRequest"
      },
      "QuantidadeSorteioResponse": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "modalidade": {
            "type": "integer",
            "format": "int32",
            "description": "Código da modalidade \n Inteiro(3)"
          },
          "request": {
            "$ref": "#/components/schemas/QuantidadeSorteioRequest"
          },
          "sorteios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sorteios"
            }
          }
        },
        "title": "QuantidadeSorteioResponse"
      },
      "SorteiosProbabilidade": {
        "type": "object",
        "properties": {
          "ProSortEditado": {
            "type": "string",
            "description": "Probabilidade sorteio editado \n String(7)"
          },
          "descSorteio": {
            "type": "string",
            "description": "Descrição do sorteio \n String(30)"
          },
          "probSorteioNumerico": {
            "type": "number",
            "description": "Probabilidade sorteio numerico \n Numérico(2)"
          }
        },
        "title": "SorteiosProbabilidade"
      },
      "ProbabilidadeTipoSorteioRequest": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "integer",
            "format": "int32",
            "description": "Código da modalidade \n Inteiro(3)"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Número do plano \n Inteiro(4)"
          }
        },
        "title": "ProbabilidadeSorteioRequest"
      },
      "ProbabilidadeTipoSorteioResponse": {
        "type": "object",
        "properties": {
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "qtdReg": {
            "type": "integer",
            "format": "int32",
            "description": "${docswagger.probabilidade-sorteio.response.qtd-reg}"
          },
          "request": {
            "$ref": "#/components/schemas/ProbabilidadeTipoSorteioRequest"
          },
          "sorteios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SorteiosProbabilidade"
            }
          }
        },
        "title": "ProbabilidadeSorteioResponse"
      },
      "InformacaoPlanoAquisicaoRequest": {
        "type": "object",
        "properties": {
          "codModalidade": {
            "type": "string",
            "description": "Código da modalidade \n inteiro(1)"
          },
          "midia": {
            "type": "string",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "string",
            "description": "Número do plano \n Inteiro(4)"
          },
          "vlrParcelaTitulo": {
            "type": "string",
            "description": "Valor da Parcela do título \n Inteiro(13) "
          }
        },
        "title": "InformacaoPlanoAquisicaoRequest"
      },
      "InformacaoPlanoAquisicaoResponse": {
        "type": "object",
        "properties": {
          "capitalNominalMinTitulo": {
            "type": "number",
            "description": "Capital Nominal Mínimo Titulo \n Inteiro(15)"
          },
          "codModalidade": {
            "type": "integer",
            "format": "int32",
            "description": "Código da modalidade \n inteiro(1)"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numSusep": {
            "type": "string",
            "description": "Número do Processo SUSEP \n String(20)"
          },
          "premioInst": {
            "type": "string",
            "description": "Indica se plano tem premiacao \n String(1)"
          },
          "tamanhoSerie": {
            "type": "string",
            "description": "Tamanho serie \n Inteiro(15)"
          },
          "tpSorteio": {
            "type": "string",
            "description": "Tipo de Sorteio Capitalização \n String(30)"
          }
        },
        "title": "InformacaoPlanoAquisicaoResponse"
      },
      "PlanosResponse": {
        "type": "object",
        "properties": {
          "descModld": {
            "type": "string",
            "description": "Nome da modalidade do plano de capitalização \n Numérico(50)"
          },
          "descTpPgto": {
            "type": "string",
            "description": "Descrição do tipo de pagamento do título de capitalização \n Numérico(50)"
          },
          "mes": {
            "type": "string",
            "description": "Indicador de existência de mês de sorteio especial 'S' - Sim 'N' - Não \n String(1)"
          },
          "modldCaptz": {
            "type": "integer",
            "format": "int32",
            "description": "Modalidade do plano de capitalização \n Numérico(3)"
          },
          "nomeFantasia": {
            "type": "string",
            "description": "Nome fantasia (comercial) do plano de capitalização. \n Numérico(50)"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Número do plano \n Inteiro(4)"
          },
          "periodoCarencia": {
            "type": "integer",
            "format": "int32",
            "description": "Período em meses da carência para resgate do título de capitalização. \n Numérico(3)"
          },
          "planoCaptz": {
            "type": "integer",
            "format": "int32",
            "description": "Número do plano de capitalização \n Numérico(4)"
          },
          "prazoPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Período de meses de vigência do título de capitalização \n Numérico(13)"
          },
          "premioInstantaneo": {
            "type": "string",
            "description": "Prêmio Instantâneo. \n String(1)"
          },
          "qtdMaxTitulo": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade máxima de titulos do plano permitidas para contratação em uma única transação. \n Numérico(5)"
          },
          "qtdTotParcela": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade total de parcelas do plano de capitalização. \n Numérico(3)"
          },
          "tpPgto": {
            "type": "integer",
            "format": "int32",
            "description": "Código do tipo de pagamento do título de capitalização \n Numérico(1)"
          },
          "vlrMaxPgto": {
            "type": "number",
            "description": "Valor Máximo de Pagamento. \n Numérico(15)"
          },
          "vlrMaxSorteio": {
            "type": "number",
            "description": "Valor Máximo de Sorteio.   \n Numérico(15)"
          },
          "vlrMinPgto": {
            "type": "number",
            "description": "Valor Mínimo de Pagamento. \n Numérico(15)"
          },
          "vlrMinSorteio": {
            "type": "number",
            "description": "Valor Mínimo de Sorteio.  \n Numérico(15)"
          },
          "vzsMaxParcela": {
            "type": "number",
            "description": "Valor máximo de parcela do plano de capitalização. \n Numérico(13,2)"
          },
          "vzsMinParcela": {
            "type": "number",
            "description": "Valor minímo de parcela do plano de capitalização. \n Numérico(13,2)"
          },
          "vzsMultParcela": {
            "type": "integer",
            "format": "int32",
            "description": "Valor múltiplo multiplicador sobre o valor de parcela do plano de capitalização. \n Numérico(5)"
          }
        }
      },
      "ListarPlanosCompativeisResponse": {
        "type": "object",
        "properties": {
          "planos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanosResponse"
            }
          }
        }
      },
      "ListarPlanosCompativeisRequest": {
        "type": "object",
        "properties": {
          "agencia": {
            "type": "string"
          },
          "codModalidade": {
            "type": "string"
          },
          "conta": {
            "type": "string"
          },
          "cpf": {
            "type": "string"
          },
          "formaPgto": {
            "type": "string"
          },
          "midia": {
            "type": "string"
          }
        }
      },
      "SorteioResponse": {
        "type": "object",
        "properties": {
          "txtSorteio": {
            "type": "string",
            "description": "Descrição de determinado sorteio do plano \n String(200)"
          },
          "vlrPremio": {
            "type": "number",
            "description": "Código da forma de liquidação (pagamento) do plano \n Numérico(13,2)"
          }
        },
        "title": "SorteioResponse"
      },
      "ParcelasResponse": {
        "type": "object",
        "properties": {
          "vlrParcela": {
            "type": "number",
            "description": "Valor de pagamento de determinado número de parcela de título do plano com parcelas de valores variáveis \n Numérico(15,2)"
          }
        },
        "title": "ParcelasResponse"
      },
      "FormasPagamentoResponse": {
        "type": "object",
        "properties": {
          "codLiqdc": {
            "type": "integer",
            "format": "int32",
            "description": "Código da forma de liquidação (pagamento) do plano \n Numérico(2)"
          },
          "nomeLiqdc": {
            "type": "string",
            "description": "Nome da forma de liquidação (pagamento) do plano \n String(30)"
          }
        },
        "title": "FormasPagamentoResponse"
      },
      "PlanoResponse": {
        "type": "object",
        "properties": {
          "codProcSusep": {
            "type": "string",
            "description": "Código do processo SUSEP do plano de capitalização \n String(20)"
          },
          "descTpPgto": {
            "type": "string",
            "description": "Descrição do tipo de pagamento do título de capitalização \n String(50)"
          },
          "empresaPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Empresa do plano de capitalização \n Inteiro(3)"
          },
          "formasPgto": {
            "type": "array",
            "description": "Lista de formas de pagamento",
            "items": {
              "$ref": "#/components/schemas/FormasPagamentoResponse"
            }
          },
          "indInss": {
            "type": "string",
            "description": "Indicador de venda exclusiva para pensionistas INSS \n String(1)"
          },
          "indicMes": {
            "type": "string",
            "description": "${docswagger.plano.response.indc-mes}"
          },
          "mesesCarenResg": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade de meses carencia de resgate \n Numérico(3)"
          },
          "midia": {
            "type": "integer",
            "format": "int32",
            "description": "Canal de Contratação \n Inteiro(3)"
          },
          "numPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Número do plano \n Inteiro(4)"
          },
          "parcelas": {
            "type": "array",
            "description": "Lista de parcelas",
            "items": {
              "$ref": "#/components/schemas/ParcelasResponse"
            }
          },
          "peridiocidade": {
            "type": "string",
            "description": "Periodicidade de sorteios normais (não especiais) do plano de capitalização \n String(30)"
          },
          "prazoPlano": {
            "type": "integer",
            "format": "int32",
            "description": "Período de meses de vigência do título de capitalização \n Numérico(13)"
          },
          "qtdMaxTitulo": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade máxima de títulos do plano permitidas para contratação em uma única transação \n Numérico(5)"
          },
          "qtdTitular": {
            "type": "integer",
            "format": "int32",
            "description": "Quantidade máxima de titulares no título de capitalização \n Numérico(2)"
          },
          "qtdTotParcela": {
            "type": "integer",
            "format": "int32",
[...]
