{
  "openapi": "3.0.3",
  "info": {
    "title": "Hub de Pagamentos",
    "description": "A API de Pagamento de Contas do Santander é uma funcionalidade criada para facilitar a gestão de contas a pagar de nossos clientes, facilitando o pagamento de boletos bancários, contas de consumo ou tributos que contenham código de barras ou campo a campo, transferência pix, débitos veiculares e consulta de boletos DDA. A API não só ajuda a gerir “o contas a pagar”, como também possibilita a criação de novos modelos de negócios.",
    "version": "1.0.9"
  },
  "servers": [
    {
      "url": "https://trust-sandbox-h.api.santander.com.br/management_payments_partners/v1 - Ambiente de Homologação"
    },
    {
      "url": "https://trust-open-h.api.santander.com.br/management_payments_partners/v1 - Ambiente de Homologação"
    },
    {
      "url": "https://trust-open.api.santander.com.br/management_payments_partners/v1 - Ambiente de Produção"
    }
  ],
  "paths": {
    "/workspaces": {
      "post": {
        "summary": "Registra um espaço de trabalho de pagamentos do cliente",
        "description": "Registra um espaço de trabalho de pagamentos do cliente",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "description": "Salva os dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceBase"
              },
              "examples": {
                "retorno1": {
                  "$ref": "#/components/examples/RequestWorkspaceExample1"
                },
                "retorno3": {
                  "$ref": "#/components/examples/RequestWorkspaceExample3"
                },
                "retorno4": {
                  "$ref": "#/components/examples/RequestWorkspaceExample4"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resposta para criação de dados de pagamento com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspacebase"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample1"
                  },
                  "retorno3": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample3"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample4"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Retorna uma lista de espaços de trabalho de pagamentos de clientes",
        "description": "Retorna uma lista de espaços de trabalho de pagamentos de clientes",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListWorkspaceOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}": {
      "patch": {
        "summary": "Atualiza os dados de um espaço de trabalho de pagamentos do cliente",
        "description": "Atualiza os dados de um espaço de trabalho de pagamentos do cliente",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "description": "Salva os dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceBaseOk"
              },
              "examples": {
                "retorno1": {
                  "$ref": "#/components/examples/PatchRequestWorkspaceExample1"
                },
                "retorno3": {
                  "$ref": "#/components/examples/PatchRequestWorkspaceExample3"
                },
                "retorno4": {
                  "$ref": "#/components/examples/PatchRequestWorkspaceExample4"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualização dos dados de pagamento com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspacebase"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample1"
                  },
                  "retorno3": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample3"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample4"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta dados de um espaço de trabalho de pagamentos do cliente",
        "description": "Consulta dados de um espaço de trabalho de pagamentos do cliente",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta para criação de dados de pagamento com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacebaseGet"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/GetResponseWorkspaceExample1"
                  },
                  "retorno3": {
                    "$ref": "#/components/examples/GetResponseWorkspaceExample3"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponseWorkspaceExample4"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      },
      "delete": {
        "summary": "Cancela de forma permanente um espaço de trabalho de pagamento do cliente",
        "description": "Cancela de forma permanente um espaço de trabalho de pagamento do cliente",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/bank_slip_payments": {
      "post": {
        "summary": "Inicia o pagamento de um título",
        "description": "Inicia um pagamento de título por linha digitável/código de barras no Hub de Pagamento",
        "tags": [
          "Bank Slip Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateBankSlipPayment"
        },
        "responses": {
          "201": {
            "description": "Inicia o pagamento de um título",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipPayment"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyPostBankSlip"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta paginada dos dados/status de um pagamento",
        "description": "Consulta paginada dos dados/status de um pagamento efetuado na workspace de pagamento do cliente",
        "tags": [
          "Bank Slip Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta os dados/status de um pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageableTemplateBankSlip"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyGetBankSlipPage"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/bank_slip_payments/{bank_slip_payment_id}": {
      "patch": {
        "summary": "Efetiva o pagamento de um título",
        "description": "Efetiva um pagamento de título por linha digitável/código de barras no Hub de Pagamento",
        "tags": [
          "Bank Slip Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/PaymentId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartialUpdateBankSlipPayment"
        },
        "responses": {
          "200": {
            "description": "Efetiva o pagamento de um título",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipPaymentPatch"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyPatchBankSlip"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta os dados/status de um pagamento",
        "description": "Consulta os dados/status de um pagamento efetuado na workspace de pagamento do cliente",
        "tags": [
          "Bank Slip Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/PaymentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta os dados/status de um pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankSlipPaymentGet"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyGetBankSlip"
                  },
                  "retorno": {
                    "$ref": "#/components/examples/ResponseBodyGetBankSlipRejected"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/available_bank_slips": {
      "get": {
        "summary": "Consulta DDA de um Cliente.",
        "description": "Consulta os dados/status de um pagamento",
        "tags": [
          "Bank Slip Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/titleSituation"
          },
          {
            "$ref": "#/components/parameters/Beneficiary"
          },
          {
            "$ref": "#/components/parameters/dueDate"
          },
          {
            "$ref": "#/components/parameters/initialDueDate"
          },
          {
            "$ref": "#/components/parameters/initialIssueDate"
          },
          {
            "$ref": "#/components/parameters/finalIssueDate"
          },
          {
            "$ref": "#/components/parameters/bankNumber"
          },
          {
            "$ref": "#/components/parameters/initialValue"
          },
          {
            "$ref": "#/components/parameters/finalValue"
          },
          {
            "$ref": "#/components/parameters/originAggregates"
          },
          {
            "$ref": "#/components/parameters/originAuthorized"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAuthorizedDirectDebitOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/barcode_payments": {
      "post": {
        "summary": "Inicia o pagamento de um código de barras",
        "description": "Iniciação de um pagamento de contas de consumo/tributo por código de barras no Hub de Pagamento.",
        "tags": [
          "Barcode Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateBarcodePayment"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/BarcodePaymentCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta Paginada os dados/status de pagamento de um código de barras",
        "description": "Consulta paginada de pagamentos de contas de consumo/tributo por codigo de barra no Hub de Pagamentos.",
        "tags": [
          "Barcode Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta os dados/status de um pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageableTemplateBarcode"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyGetBarcodePage"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponseBodyGetBarcodePageRejected"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/barcode_payments/{barcode_payment_id}": {
      "patch": {
        "summary": "Efetiva o pagamento de um código de barras",
        "description": "Efetivação de um pagamento de contas de consumo/tributo por código de barras no Hub de Pagamento",
        "tags": [
          "Barcode Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/BarcodePaymentId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartialUpdateBarcodePayment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PartialUpdateBarcodePaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta os dados/status de pagamento de um código de barras",
        "description": "Consulta de pagamentos de contas de consumo/tributo por codigo de barra no Hub de Pagamentos.",
        "tags": [
          "Barcode Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/BarcodePaymentId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBarcodePaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/pix_payments": {
      "post": {
        "summary": "Inicia o pagamento de um PIX",
        "description": "Efetivação de um pagamento de contas de consumo/tributo pix no Hub de Pagamento",
        "tags": [
          "Pix Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreatePixPayment"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PixPaymentOkCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta paginada dos dados/status de um pagamento efetuado na workspace de pagamento do cliente",
        "description": "Consulta paginada dos dados/status de um pagamento efetuado na workspace de pagamento do cliente",
        "tags": [
          "Pix Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "description": "Consulta os dados/status de um pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixGet"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyGetPixPage"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/pix_payments/{pix_payment_id}": {
      "patch": {
        "summary": "Efetiva o pagamento de um PIX",
        "description": "Efetivação de um pagamento de contas de consumo/tributo pix no Hub de Pagamento",
        "tags": [
          "Pix Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/PixPaymentId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartialUpdatePixPayment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PartialUpdatePixPaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta os dados/status de pagamento de um PIX",
        "description": "Efetivação de um pagamento de contas de consumo/tributo pix no Hub de Pagamento",
        "tags": [
          "Pix Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/PixPaymentId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPixPaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "InternalToken": [],
            "ApiKeyQuery": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyQuery": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/vehicle_taxes_payments": {
      "post": {
        "summary": "Inicia o pagamento de um título",
        "description": "Inicia um pagamento de Veículo Renavam Hub de Pagamento",
        "tags": [
          "Vehicle Taxes Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartialVehiclePaymentsId"
        },
        "responses": {
          "201": {
            "description": "Salva os dados do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxPayments"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePostBodyExemple1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponsePostBodyExemple2"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta paginada dos dados/status de um pagamento",
        "description": "Consulta os dados/status de um pagamento",
        "tags": [
          "Vehicle Taxes Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "201": {
            "description": "Checagem de pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVehicleTax"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseBodyGetRenavamPage"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/vehicle_taxes_payments/{vehicle_tax_id}": {
      "patch": {
        "summary": "Efetiva o pagamento de um título",
        "description": "Efetiva um pagamento de título por linha digitável/código de barras no Hub de Pagamento",
        "tags": [
          "Vehicle Taxes Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/VehicleTaxId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateVehiclePaymentsId"
        },
        "responses": {
          "201": {
            "description": "Pagamento feito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxPaymentsPatch"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePatchBodyExemple1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponsePatchBodyExemple2"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta por ID os dados/status de um pagamento",
        "description": "Consulta os dados/status de um pagamento",
        "tags": [
          "Vehicle Taxes Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/VehicleTaxId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetVehiclePaymentsIdOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/available_vehicle_taxes": {
      "get": {
        "summary": "Consulta debitos de um renavam",
        "description": "Consulta os dados/status de um pagamento",
        "tags": [
          "Vehicle Taxes Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/renavam"
          },
          {
            "$ref": "#/components/parameters/stateAbbreviation"
          },
          {
            "$ref": "#/components/parameters/initialValue"
          },
          {
            "$ref": "#/components/parameters/finalValue"
          },
          {
            "$ref": "#/components/parameters/ExerciseYearTemplate"
          },
          {
            "$ref": "#/components/parameters/TaxTypeTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetVehiclePaymentsOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/taxes_by_fields_payments": {
      "post": {
        "summary": "Inicia o pagamento de um título",
        "description": "Inicia um pagamento de título",
        "tags": [
          "Taxes by Fields Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "description": "Salva os dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxByFieldBasePostRequest"
              },
              "examples": {
                "retorno1": {
                  "$ref": "#/components/examples/RequestPostTaxesByFields1"
                },
                "retorno2": {
                  "$ref": "#/components/examples/RequestPostTaxesByFields1.2"
                },
                "retorno4": {
                  "$ref": "#/components/examples/RequestPostTaxesByFields2"
                },
                "retorno5": {
                  "$ref": "#/components/examples/RequestPostTaxesByFields3"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dados do usuário salvos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxByFieldBasePostResponse"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePostTaxesByFields1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponsePostTaxesByFields1.2"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponsePostTaxesByFields2"
                  },
                  "retorno5": {
                    "$ref": "#/components/examples/ResponsePostTaxesByFields3"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta Paginada dos dados/status de um pagamento",
        "description": "Consulta Paginada dos dados/status de um pagamento",
        "tags": [
          "Taxes by Fields Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "description": "Checagem de pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxByFieldBasePostResponse"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/PageResponsePostTaxesByFields1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/PageResponsePostTaxesByFields1.2"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/PageResponsePostTaxesByFields2"
                  },
                  "retorno5": {
                    "$ref": "#/components/examples/PageResponsePostTaxesByFields3"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/taxes_by_fields_payments/{taxes_by_fields_payment_id}": {
      "patch": {
        "summary": "Efetiva o pagamento de um título",
        "description": "Efetiva um pagamento de título",
        "tags": [
          "Taxes by Fields Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/TaxByFieldID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateTaxesByFieldPatch"
        },
        "responses": {
          "200": {
            "description": "Completa o pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxByFieldBasePatchResponse"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePatchTaxesByFields1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponsePatchTaxesByFields1.2"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponsePatchTaxesByFields2"
                  },
                  "retorno5": {
                    "$ref": "#/components/examples/ResponsePatchTaxesByFields3"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta os dados/status de um pagamento",
        "description": "Consulta os dados/status de um pagamento",
        "tags": [
          "Taxes by Fields Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/TaxByFieldID"
          }
        ],
        "responses": {
          "200": {
            "description": "Checagem de pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxByFieldBaseGetResponse"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseGetTaxesByFields1"
                  },
                  "retorno2": {
                    "$ref": "#/components/examples/ResponseGetTaxesByFields1.2"
                  },
                  "retorno4": {
                    "$ref": "#/components/examples/ResponseGetTaxesByFields2"
                  },
                  "retorno5": {
                    "$ref": "#/components/examples/ResponseGetTaxesByFields3"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/transfer": {
      "post": {
        "summary": "Inicia uma transferência TED",
        "description": "Inicia uma transferência TED no Hub de Pagamento.",
        "tags": [
          "Electronic Transfer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "description": "Salva os dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultivaRequestType"
              },
              "examples": {
                "retorno1": {
                  "$ref": "#/components/examples/RequestPostTed"
                },
                "retorno2": {
                  "$ref": "#/components/examples/RequestPostTedContaPoupanca"
                },
                "retorno3": {
                  "$ref": "#/components/examples/RequestPostTedContaPagamento"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dados do usuário salvos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TedCreatedType"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePostTed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta Paginada dos dados/status de uma transferência TED",
        "description": "Consulta Paginada dos dados/status de uma transferência TED no Hub de Pagamento",
        "tags": [
          "Electronic Transfer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "description": "Checagem de pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageableTed"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/PageResponseTed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/transfer/{transfer_id}": {
      "patch": {
        "summary": "Efetiva uma transferência TED",
        "description": "Efetiva uma transferência TED no Hub de Pagamento",
        "tags": [
          "Electronic Transfer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/TransferId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PartialUpdateTed"
        },
        "responses": {
          "200": {
            "description": "Completa o pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TedPatch"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponsePatchTed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "summary": "Consulta os dados/status de uma transferência TED",
        "description": "Consulta os dados/status de uma transferência TED no Hub de Pagamento",
        "tags": [
          "Electronic Transfer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/TransferId"
          }
        ],
        "responses": {
          "200": {
            "description": "Checagem de pagamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TedBase"
                },
                "examples": {
                  "retorno1": {
                    "$ref": "#/components/examples/ResponseGetTedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/smart_transfers_accounts": {
      "get": {
        "tags": [
          "Smart Transfers"
        ],
        "summary": "Exibir a lista de contas com consentimento",
        "description": "Exibir a lista de contas com consentimento",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/ConsentStatusTemplate"
          },
          {
            "$ref": "#/components/parameters/BankAuthorisationServerIdTemplate"
          },
          {
            "$ref": "#/components/parameters/BankDocumentNumberTemplate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSmartTransfersAccountsOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/smart_transfers_metadata": {
      "get": {
        "tags": [
          "Smart Transfers"
        ],
        "summary": "Exibir o deeplink para consentimento",
        "description": "Exibir o deeplink para consentimento",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSmartTransfersMetadataOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/smart_transfers_payments": {
      "post": {
        "tags": [
          "Smart Transfers"
        ],
        "summary": "Inicia um pagamento por transferência inteligente",
        "description": "Retorno de criação de pagamento, local que contém o identificador do pagamento criado",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSmartTransfersPayment"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PostSmartTransfersPaymentCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "get": {
        "tags": [
          "Smart Transfers"
        ],
        "summary": "Consulta paginada dos dados/status de um pagamento",
        "description": "Consulta paginada dos dados/status de um pagamento",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/LimitTemplate"
          },
          {
            "$ref": "#/components/parameters/OffsetTemplate"
          },
          {
            "$ref": "#/components/parameters/SortTemplate"
          },
          {
            "$ref": "#/components/parameters/InitialDateTemplate"
          },
          {
            "$ref": "#/components/parameters/FinalDateTemplate"
          },
          {
            "$ref": "#/components/parameters/PayerBranchTemplate"
          },
          {
            "$ref": "#/components/parameters/PayerAccountNumberTemplate"
          },
          {
            "$ref": "#/components/parameters/StatusTemplate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllSmartTransfersPaymentsOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/smart_transfers_payments/{smart_transfers_payment_id}": {
      "get": {
        "tags": [
          "Smart Transfers"
        ],
        "summary": "Consulta de recibo de transação/pagamento",
        "description": "Consulta de recibo de transação/pagamento",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/SmartTransfersPaymentId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetByIdSmartTransfersPaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      },
      "patch": {
        "summary": "Efetiva um pagamento por transferência inteligente",
        "description": "Retorno de criação de pagamento, local que contém o identificador do pagamento criado",
        "tags": [
          "Smart Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "$ref": "#/components/parameters/SmartTransfersPaymentId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PatchSmartTransfersPayment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PatchSmartTransfersPaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "InternalToken": [],
            "ApiKeyHeader": []
          },
          {
            "ExternalToken": [],
            "ApiKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "headers": {
      "Location": {
        "description": "The URI to the resource",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "x-santander-dictionary-entity": "LocationHeaderTemplate"
      },
      "Application": {
        "description": "Header Necessário",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "x-santander-dictionary-entity": "LocationHeaderTemplate"
      }
    },
    "schemas": {
      "GetSmartTransfersAccountsOk": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "description": "Estrutura de dados contendo informações da conta",
        "properties": {
          "type": {
            "description": "Account type code",
            "type": "string",
            "enum": [
              "CACC",
              "SVGS",
              "TRAN"
            ],
            "example": "CACC",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal"
          },
          "branch": {
            "$ref": "#/components/schemas/BranchInfo"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/AccountNumberType"
          },
          "bank": {
            "$ref": "#/components/schemas/BankInfoType"
          },
          "documentNumber": {
            "$ref": "#/components/schemas/DocumentNumberType"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductType"
            }
          }
        }
      },
      "GetSmartTransfersMetadataOk": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "description": "Estrutura de dados contendo deeplink para consentimento",
        "properties": {
          "deeplink": {
            "description": "Link para consentimento",
            "type": "string",
            "example": "https://santanderbr.corp/transferenciainteligentebaas",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal"
          }
        }
      },
      "PostSmartTransfersPayment": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "required": [
          "paymentValue",
          "beneficiary",
          "payer"
        ],
        "properties": {
          "paymentValue": {
            "maxLength": 19,
            "minLength": 4,
            "pattern": "^((\\d{1,16}\\.\\d{2}))$",
            "type": "string",
            "description": "Valor da transferência com até 2 casas decimais.",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/SmartTransfersPaymentBeneficiaryType"
          },
          "payer": {
            "type": "object",
            "$ref": "#/components/schemas/SmartTransfersPaymentPayerType"
          },
          "remittanceInformation": {
            "type": "string",
            "example": "Pagamento da nota ref 10/2024",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal",
            "description": "Description of the payment instruction"
          },
          "riskSignals": {
            "type": "object",
            "$ref": "#/components/schemas/SmartTransfersPaymentRiskSignalsType"
          }
        }
      },
      "PostSmartTransfersPaymentCreated": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "properties": {
          "smartTransfersPaymentId": {
            "$ref": "#/components/schemas/SmartTransfersPaymentIdType"
          },
          "status": {
            "$ref": "#/components/schemas/StatusEnumType"
          }
        }
      },
      "GetAllSmartTransfersPaymentsOk": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "properties": {
          "smartTransfersPaymentId": {
            "$ref": "#/components/schemas/SmarTransfersIdType"
          },
          "paymentValue": {
            "$ref": "#/components/schemas/PaymentValueType"
          },
          "beneficiaryName": {
            "$ref": "#/components/schemas/BeneficiaryNameType"
          },
          "status": {
            "$ref": "#/components/schemas/StatusTemplate"
          },
          "paymentDate": {
            "type": "string",
            "format": "date",
            "example": "2023-09-12T00:00:00.000Z",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          }
        }
      },
      "GetByIdSmartTransfersPaymentOk": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "properties": {
          "smartTransfersPaymentId": {
            "$ref": "#/components/schemas/SmarTransfersIdType"
          },
          "paymentDate": {
            "type": "string",
            "format": "date",
            "example": "2023-09-12T00:00:00.000Z",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          },
          "transactionIdentification": {
            "$ref": "#/components/schemas/TransactionIndentificationType"
          },
          "localInstrument": {
            "type": "string",
            "description": "Specifies the payment initiation method:  \n- MANU - Manual entry of transactional account data  \n- DICT - Manual Pix key insertion  \n- QRDN - Dynamic QR code  \n- QRES - static QR code  \n- INIC - Indicates that the payee (creditor) hired the Payment Initiator specifically to carry out payment initiations where the payee is known in advance.\n",
            "example": "DICT",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          },
          "documentNumber": {
            "$ref": "#/components/schemas/DocumentNumberType"
          },
          "systemName": {
            "type": "string",
            "description": "Payment scheme used to make the payment",
            "example": "PIX",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          },
          "paymentValue": {
            "$ref": "#/components/schemas/PaymentValueType"
          },
          "remittanceInformation": {
            "type": "string",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal",
            "description": "Description of the payment instruction"
          },
          "beneficiary": {
            "type": "object",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal",
            "properties": {
              "ispb": {
                "$ref": "#/components/schemas/IspbType"
              },
              "branch": {
                "$ref": "#/components/schemas/BranchInfo"
              },
              "accountNumber": {
                "$ref": "#/components/schemas/AccountNumberType"
              },
              "type": {
                "$ref": "#/components/schemas/AccountType"
              },
              "documentType": {
                "$ref": "#/components/schemas/DocumentType"
              },
              "documentNumber": {
                "$ref": "#/components/schemas/DocumentNumberType"
              },
              "beneficiaryName": {
                "$ref": "#/components/schemas/BeneficiaryNameType"
              }
            }
          },
          "cancellationReason": {
            "$ref": "#/components/schemas/CancellationReasonType"
          },
          "payer": {
            "type": "object",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal",
            "properties": {
              "ispb": {
                "$ref": "#/components/schemas/IspbType"
              },
              "branch": {
                "$ref": "#/components/schemas/BranchInfo"
              },
              "accountNumber": {
                "$ref": "#/components/schemas/AccountNumberType"
              },
              "type": {
                "$ref": "#/components/schemas/AccountType"
              }
            }
          },
          "businessEntity": {
            "type": "object",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal",
            "properties": {
              "documentType": {
                "$ref": "#/components/schemas/DocumentType"
              },
              "documentNumber": {
                "$ref": "#/components/schemas/DocumentNumberType"
              }
            }
          },
          "statusInfo": {
            "$ref": "#/components/schemas/StatusInfoType"
          },
          "bank": {
            "type": "object",
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal",
            "properties": {
              "bankName": {
                "type": "string",
                "description": "Bank name",
                "example": "Bank of America"
              },
              "logo": {
                "$ref": "#/components/schemas/LogoType"
              },
              "documentNumber": {
                "$ref": "#/components/schemas/DocumentNumberType"
              },
              "authorisationServerId": {
                "$ref": "#/components/schemas/BankAuthorisationServerIdType"
              }
            }
          },
          "product": {
            "type": "string",
            "description": "For standardization purposes, the consumer from API should use the descriptions below to show the product to the user. SANTANDER_OF_TRANSFERENCIA_INTELIGENTE \"Open Finance Transferências Inteligentes\" SANTANDER_OF_PAGAMENTO \"Pix Open Finance\"",
            "example": "SANTANDER_OF_TRANSFERENCIA_INTELIGENTE",
            "enum": [
              "SANTANDER_OF_TRANSFERENCIA_INTELIGENTE",
              "SANTANDER_OF_PAGAMENTO"
            ],
            "x-santander-security-cdo-level": "confidential",
            "x-santander-security-encrypt-type": "normal"
          }
        }
      },
      "PatchSmartTransfersPayment": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "required": [
          "paymentValue",
          "beneficiary",
          "payer"
        ],
        "properties": {
          "paymentValue": {
            "maxLength": 19,
            "minLength": 4,
            "pattern": "^((\\d{1,16}\\.\\d{2}))$",
            "type": "string",
            "description": "Valor da transferência com até 2 casas decimais.",
            "x-santander-security-cdo-level": "internal",
            "x-santander-security-encrypt-type": "normal"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/SmartTransfersPaymentBeneficiaryType"
          },
          "payer": {
            "type": "object",
            "$ref": "#/components/schemas/SmartTransfersPaymentPayerType"
          }
        }
      },
      "PatchSmartTransfersPaymentOk": {
        "type": "object",
        "x-santander-security-cdo-level": "confidential",
        "x-santander-security-encrypt-type": "normal",
        "properties": {
          "smartTransfersPaymentId": {
            "$ref": "#/components/schemas/SmarTransfersIdType"
          },
          "status": {
            "$ref": "#/components/schemas/StatusEnumType"
          }
        }
      },
      "CancellationReasonType": {
        "type": "object",
        "properties": {
          "originator": {
            "$ref": "#/components/schemas/EnumPaymentCancellationFromType"
          },
          "code": {
            "$ref": "#/components/schemas/EnumPaymentCancellationReasonType"
          },
          "cancelledAt": {
            "maxLength": 20,
            "pattern": "^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$",
            "type": "string",
            "description": "Date and time the cancellation was made, according to the RFC-3339 specification, UTC format.",
            "format": "date-time",
            "example": "2021-05-21T08:30:00.000Z"
          },
          "cancelledBy": {
            "required": [
              "document"
            ],
            "type": "object",
            "properties": {
              "documentType": {
                "$ref": "#/components/schemas/DocumentType"
              },
              "document": {
                "$ref": "#/components/schemas/DocumentNumberType"
              }
            },
            "description": "Information related to the paying user who requested payment cancellation."
          }
        },
        "description": "Data structure containing details about the reason for a cancellation request",
        "x-santander-security-cdo-level": "public"
      },
      "EnumPaymentCancellationReasonType": {
        "type": "string",
        "description": "This field for return must be completed by the account holder based on the status of the payment at the time of the cancellation request (e.g. Payment status = PDNG, field must be filled with the enum CANCELADO_PENDENCIA)  \nPossible values:  \nCANCELADO_PENDENCIA - Payment canceled while in PDNG status  \nCANCELADO_AGENDAMENTO - Payment canceled while in SCHD status  \nCANCELADO_MULTIPLAS_ALCADAS - Payment canceled while in PATC status\n",
        "example": "CANCELADO_PENDENCIA",
        "enum": [
          "CANCELADO_PENDENCIA",
          "CANCELADO_AGENDAMENTO",
          "CANCELADO_MULTIPLAS_ALCADAS"
        ]
      },
      "EnumPaymentCancellationFromType": {
        "type": "string",
        "description": "Field used to inform the means by which the cancellation was made.  \nPossible values:  \nINICIADORA - Payment canceled by the paying user on the initiator's channels  \nDETENTORA - Payment canceled by the paying user on the holder's channels\n",
        "example": "INICIADORA",
        "enum": [
          "INICIADORA",
          "DETENTORA"
        ]
      },
      "StatusInfoType": {
        "type": "object",
        "properties": {
          "statusCode": {
            "$ref": "#/components/schemas/StatusEnumType"
          },
          "statusDescription": {
            "type": "string",
            "description": "Status description",
            "example": "Cancelled"
          },
          "statusDate": {
            "type": "string",
            "description": "Date when the status was established.\n\nThe value uses the complete data format defined in ISO 8601:\n\n'YYYY-MM-DD'\n\nWhere:\n- YYYY: 4-digit year\n- MM: 2-digit month (for example, 01 = January)\n- DD: 2-digit day of the month (01 through 31)",
            "format": "date",
            "example": "2021-04-05T00:00:00.000Z"
          },
          "statusReasonDescription": {
            "type": "string",
            "description": "Description of the status reason",
            "example": "Disagreement on quantity"
          },
          "statusReasonCode": {
            "type": "string",
            "description": "Status reason code",
            "example": "DQUA"
          },
          "internalDetails": {
            "type": "string",
            "description": "Status details for a user who is not the requester, such as an internal user",
            "example": "FUNDS HAVE ALREADY BEEN WITHDRAWN, OPERATION CANCELLED"
          }
        },
        "description": "Data structure containing information about an item's status"
      },
      "StatusEnumType": {
        "type": "string",
[...]
